/*.rm-diagram {
  --diagram-background-color: var(--cl-gray-100)!important;
}

.rm-diagram .react-flow {
  --edge-stroke-color:  var(--cl-gray-500);
  --block-unset-max-width: 200px;
  --group-title-fill-color: #A7B6C23F;
  --block-font-size: 14px;
  --group-area-fill-color: rgba(225, 232, 237, 0.2);
  --block-fill-color: white;
  --block-text-color: black;
  --block-border-color: var(--cl-gray-500);
  --block-text-align: start;
  --group-title-text-color: black;
  --group-border-color:  var(--cl-gray-500);
  --group-title-font-size: 18px;
  --global-edge-stroke-color:  var(--cl-gray-500);
}
*/
#roam-sidebar-logo img {
  filter: invert(1) invert(41%) sepia(13%) saturate(747%) hue-rotate(164deg) brightness(97%) contrast(84%);
}