:root {
  --co-allpages__children-text: ;
  --bc-allpages__clickable-pill: ;
  --co-allpages__clickable-pill: ;
  --op-allpages__clickable-pill: ;
  --bc-allpages__clickable-pill-empty: ;
  --co-allpages__clickable-pill-empty: ;
  --op-allpages__clickable-pill-empty: ;
  --bc-allpages__clickable-pill-level1: ;
  --co-allpages__clickable-pill-level1: ;
  --op-allpages__clickable-pill-level1: ;
  --bc-allpages__clickable-pill-level2: ;
  --co-allpages__clickable-pill-level2: ;
  --op-allpages__clickable-pill-level2: ;
  --bc-allpages__clickable-pill-level3: ;
  --co-allpages__clickable-pill-level3: ;
  --op-allpages__clickable-pill-level3: ;
  --co-allpages__icon-filtered: ;
  --bt-allpages__input--focus: ;
  --br-allpages__input--focus: ;
  --bb-allpages__input--focus: ;
  --bl-allpages__input--focus: ;
  --sd-allpages__input--focus: ;
  --bc-allpages__input: ;
  --bt-allpages__input: ;
  --br-allpages__input: ;
  --bb-allpages__input: ;
  --bl-allpages__input: ;
  --bd-allpages__input: ;
  --sd-allpages__input: ;
  --co-allpages__input: ;
  --fs-allpages__input: ;
  --fw-allpages__input: ;
  --co-allpages__input-group-icon: ;
  --co-allpages__input-placeholder: ;
  --bb-allpages__row: ;
  --sd-allpages__row: ;
  --co-allpages__row: ;
  --bc-allpages__row-header: ;
  --bt-allpages__row-header: ;
  --bb-allpages__row-header: ;
  --bd-allpages__row-header: ;
  --co-allpages__row-header: ;
  --co-allpages__sort-button-focused: ;
  --co-allpages__sorted-header-text: ;
  --fw-allpages__sorted-header-text: ;
  --co-allpages__title-col: ;
  --co-allpages__title-text: ;
  --co-app: ;
  --bc-autocomplete__codeblock--hover: ;
  --bc-autocomplete__menu-item--selected: ;
  --co-autocomplete__menu-item--selected: ;
  --co-autocomplete__menu-item-shortcut--selected: ;
  --co-autocomplete__new-block--hover: ;
  --co-autocomplete__new-block: ;
  --bc-autocomplete: ;
  --fs-block-search__heading: ;
  --bd-block-search__input: ;
  --bc-block-search__menu: ;
  --bc-bp3__button--active: ;
  --bi-bp3__button--active: ;
  --sd-bp3__button--active: ;
  --co-bp3__button--active: ;
  --bc-bp3__button--disabled: ;
  --bi-bp3__button--disabled: ;
  --sd-bp3__button--disabled: ;
  --co-bp3__button--disabled: ;
  --bc-bp3__button--disabled-active: ;
  --bc-bp3__button--hover: ;
  --sd-bp3__button--hover: ;
  --co-bp3__button--hover: ;
  --bc-bp3__button: ;
  --bi-bp3__button: ;
  --sd-bp3__button: ;
  --co-bp3__button: ;
  --co-bp3__button-icon: ;
  --bc-bp3__button-intent-danger--active: ;
  --bi-bp3__button-intent-danger--active: ;
  --sd-bp3__button-intent-danger--active: ;
  --co-bp3__button-intent-danger--active: ;
  --bc-bp3__button-intent-danger--disabled: ;
  --bi-bp3__button-intent-danger--disabled: ;
  --sd-bp3__button-intent-danger--disabled: ;
  --co-bp3__button-intent-danger--disabled: ;
  --bc-bp3__button-intent-danger--hover: ;
  --sd-bp3__button-intent-danger--hover: ;
  --co-bp3__button-intent-danger--hover: ;
  --bc-bp3__button-intent-danger: ;
  --bi-bp3__button-intent-danger: ;
  --sd-bp3__button-intent-danger: ;
  --co-bp3__button-intent-danger: ;
  --bc-bp3__button-intent-danger-minimal--active: ;
  --co-bp3__button-intent-danger-minimal--active: ;
  --bc-bp3__button-intent-danger-minimal--disabled: ;
  --bi-bp3__button-intent-danger-minimal--disabled: ;
  --co-bp3__button-intent-danger-minimal--disabled: ;
  --bc-bp3__button-intent-danger-minimal--disabled-active: ;
  --co-bp3__button-intent-danger-minimal--disabled-active: ;
  --bc-bp3__button-intent-danger-minimal--hover: ;
  --co-bp3__button-intent-danger-minimal--hover: ;
  --co-bp3__button-intent-danger-minimal: ;
  --bc-bp3__button-intent-primary--active: ;
  --bi-bp3__button-intent-primary--active: ;
  --sd-bp3__button-intent-primary--active: ;
  --co-bp3__button-intent-primary--active: ;
  --bc-bp3__button-intent-primary--disabled: ;
  --bi-bp3__button-intent-primary--disabled: ;
  --sd-bp3__button-intent-primary--disabled: ;
  --co-bp3__button-intent-primary--disabled: ;
  --bc-bp3__button-intent-primary--hover: ;
  --sd-bp3__button-intent-primary--hover: ;
  --co-bp3__button-intent-primary--hover: ;
  --bc-bp3__button-intent-primary: ;
  --bi-bp3__button-intent-primary: ;
  --sd-bp3__button-intent-primary: ;
  --co-bp3__button-intent-primary: ;
  --bc-bp3__button-intent-primary-minimal--active: ;
  --co-bp3__button-intent-primary-minimal--active: ;
  --bc-bp3__button-intent-primary-minimal--disabled: ;
  --bi-bp3__button-intent-primary-minimal--disabled: ;
  --co-bp3__button-intent-primary-minimal--disabled: ;
  --bc-bp3__button-intent-primary-minimal--disabled-active: ;
  --co-bp3__button-intent-primary-minimal--disabled-active: ;
  --bc-bp3__button-intent-primary-minimal--hover: ;
  --co-bp3__button-intent-primary-minimal--hover: ;
  --co-bp3__button-intent-primary-minimal: ;
  --bc-bp3__button-intent-success--active: ;
  --bi-bp3__button-intent-success--active: ;
  --sd-bp3__button-intent-success--active: ;
  --co-bp3__button-intent-success--active: ;
  --bc-bp3__button-intent-success--disabled: ;
  --bi-bp3__button-intent-success--disabled: ;
  --sd-bp3__button-intent-success--disabled: ;
  --co-bp3__button-intent-success--disabled: ;
  --bc-bp3__button-intent-success--hover: ;
  --sd-bp3__button-intent-success--hover: ;
  --co-bp3__button-intent-success--hover: ;
  --bc-bp3__button-intent-success: ;
  --bi-bp3__button-intent-success: ;
  --sd-bp3__button-intent-success: ;
  --co-bp3__button-intent-success: ;
  --bc-bp3__button-intent-success-minimal--active: ;
  --co-bp3__button-intent-success-minimal--active: ;
  --bc-bp3__button-intent-success-minimal--disabled: ;
  --bi-bp3__button-intent-success-minimal--disabled: ;
  --co-bp3__button-intent-success-minimal--disabled: ;
  --bc-bp3__button-intent-success-minimal--disabled-active: ;
  --co-bp3__button-intent-success-minimal--disabled-active: ;
  --bc-bp3__button-intent-success-minimal--hover: ;
  --co-bp3__button-intent-success-minimal--hover: ;
  --co-bp3__button-intent-success-minimal: ;
  --bc-bp3__button-intent-warning--active: ;
  --bi-bp3__button-intent-warning--active: ;
  --sd-bp3__button-intent-warning--active: ;
  --co-bp3__button-intent-warning--active: ;
  --bc-bp3__button-intent-warning--disabled: ;
  --bi-bp3__button-intent-warning--disabled: ;
  --sd-bp3__button-intent-warning--disabled: ;
  --co-bp3__button-intent-warning--disabled: ;
  --bc-bp3__button-intent-warning--hover: ;
  --sd-bp3__button-intent-warning--hover: ;
  --co-bp3__button-intent-warning--hover: ;
  --bc-bp3__button-intent-warning: ;
  --bi-bp3__button-intent-warning: ;
  --sd-bp3__button-intent-warning: ;
  --co-bp3__button-intent-warning: ;
  --bc-bp3__button-intent-warning-minimal--active: ;
  --co-bp3__button-intent-warning-minimal--active: ;
  --bc-bp3__button-intent-warning-minimal--disabled: ;
  --bi-bp3__button-intent-warning-minimal--disabled: ;
  --co-bp3__button-intent-warning-minimal--disabled: ;
  --bc-bp3__button-intent-warning-minimal--disabled-active: ;
  --co-bp3__button-intent-warning-minimal--disabled-active: ;
  --bc-bp3__button-intent-warning-minimal--hover: ;
  --co-bp3__button-intent-warning-minimal--hover: ;
  --co-bp3__button-intent-warning-minimal: ;
  --bc-bp3__button-minimal--active: ;
  --sd-bp3__button-minimal--active: ;
  --co-bp3__button-minimal--active: ;
  --bc-bp3__button-minimal--disabled: ;
  --co-bp3__button-minimal--disabled: ;
  --bc-bp3__button-minimal--disabled-active: ;
  --bc-bp3__button-minimal--hover: ;
  --sd-bp3__button-minimal--hover: ;
  --co-bp3__button-minimal--hover: ;
  --bc-bp3__button-minimal: ;
  --bi-bp3__button-minimal: ;
  --sd-bp3__button-minimal: ;
  --bc-bp3__button-outlined--active: ;
  --sd-bp3__button-outlined--active: ;
  --co-bp3__button-outlined--active: ;
  --bc-bp3__button-outlined--disabled: ;
  --co-bp3__button-outlined--disabled: ;
  --bc-bp3__button-outlined--disabled-active: ;
  --bc-bp3__button-outlined--hover: ;
  --sd-bp3__button-outlined--hover: ;
  --bc-bp3__button-outlined: ;
  --bt-bp3__button-outlined: ;
  --br-bp3__button-outlined: ;
  --bb-bp3__button-outlined: ;
  --bl-bp3__button-outlined: ;
  --sd-bp3__button-outlined: ;
  --co-bp3__button-outlined: ;
  --bc-bp3__button-primary-outlined--hover: ;
  --co-bp3__button-primary-outlined--hover: ;
  --bt-bp3__button-primary-outlined: ;
  --br-bp3__button-primary-outlined: ;
  --bb-bp3__button-primary-outlined: ;
  --bl-bp3__button-primary-outlined: ;
  --co-bp3__button-primary-outlined: ;
  --bc-bp3__callout: ;
  --bc-bp3__callout-danger: ;
  --co-bp3__callout-icon: ;
  --co-bp3__callout-icon-danger: ;
  --co-bp3__callout-icon-primary: ;
  --co-bp3__callout-icon-success: ;
  --co-bp3__callout-icon-warning: ;
  --bc-bp3__callout-primary: ;
  --bc-bp3__callout-success: ;
  --bc-bp3__callout-warning: ;
  --bc-bp3__card: ;
  --sd-bp3__card: ;
  --bc-bp3__control-indicator--active: ;
  --sd-bp3__control-indicator--active: ;
  --bc-bp3__control-indicator--active-checked: ;
  --sd-bp3__control-indicator--active-checked: ;
  --bc-bp3__control-indicator--checked: ;
  --bi-bp3__control-indicator--checked: ;
  --sd-bp3__control-indicator--checked: ;
  --co-bp3__control-indicator--checked: ;
  --bc-bp3__control-indicator--checked-hover: ;
  --sd-bp3__control-indicator--checked-hover: ;
  --bc-bp3__control-indicator--hover: ;
  --bc-bp3__control-indicator: ;
  --bi-bp3__control-indicator: ;
  --bt-bp3__control-indicator: ;
  --br-bp3__control-indicator: ;
  --bb-bp3__control-indicator: ;
  --bl-bp3__control-indicator: ;
  --sd-bp3__control-indicator: ;
  --bi-bp3__control-radio-indicator-input-before--checked: ;
  --op-bp3__control-radio-indicator-input-before--checked-disabled: ;
  --bc-bp3__control-switch-indicator--hover: ;
  --bt-bp3__control-switch-indicator: ;
  --br-bp3__control-switch-indicator: ;
  --bb-bp3__control-switch-indicator: ;
  --bl-bp3__control-switch-indicator: ;
  --bd-bp3__control-switch-indicator: ;
  --sd-bp3__control-switch-indicator: ;
  --sd-bp3__control-switch-indicator-before--checked: ;
  --bc-bp3__control-switch-indicator-before: ;
  --sd-bp3__control-switch-indicator-before: ;
  --bc-bp3__control-switch-indicator-input--checked: ;
  --bc-bp3__control-switch-indicator-input--checked-active: ;
  --bc-bp3__control-switch-indicator-input--checked-disabled: ;
  --bc-bp3__control-switch-indicator-input--checked-hover: ;
  --bc-bp3__control-switch-indicator-input: ;
  --bc-bp3__control-switch-indicator-input-before--checked-disabled: ;
  --bc-bp3__datepicker: ;
  --bd-bp3__datepicker: ;
  --bc-bp3__datepicker-day--hover: ;
  --co-bp3__datepicker-day--hover: ;
  --bc-bp3__datepicker-day-outside--hover: ;
  --bc-bp3__datepicker-day-selected--hover: ;
  --bc-bp3__datepicker-day-selected: ;
  --co-bp3__datepicker-day-selected: ;
  --bt-bp3__datepicker-today: ;
  --br-bp3__datepicker-today: ;
  --bb-bp3__datepicker-today: ;
  --bl-bp3__datepicker-today: ;
  --co-bp3__datepicker-weeknumber: ;
  --br-bp3__datepicker-weeknumber: ;
  --fs-bp3__datepicker-weeknumber: ;
  --bc-bp3__dialog: ;
  --sd-bp3__dialog: ;
  --co-bp3__dialog: ;
  --bc-bp3__dialog-header: ;
  --sd-bp3__dialog-header: ;
  --br-bp3__divider: ;
  --bb-bp3__divider: ;
  --sd-bp3__elevation-0: ;
  --sd-bp3__elevation-1: ;
  --sd-bp3__elevation-2: ;
  --sd-bp3__elevation-3: ;
  --sd-bp3__elevation-4: ;
  --bc-bp3__file-upload-input: ;
  --bt-bp3__file-upload-input: ;
  --br-bp3__file-upload-input: ;
  --bb-bp3__file-upload-input: ;
  --bl-bp3__file-upload-input: ;
  --bd-bp3__file-upload-input: ;
  --sd-bp3__file-upload-input: ;
  --co-bp3__file-upload-input: ;
  --fs-bp3__file-upload-input: ;
  --bc-bp3__file-upload-input-button--active: ;
  --bi-bp3__file-upload-input-button--active: ;
  --sd-bp3__file-upload-input-button--active: ;
  --co-bp3__file-upload-input-button--active: ;
  --bc-bp3__file-upload-input-button--hover: ;
  --sd-bp3__file-upload-input-button--hover: ;
  --co-bp3__file-upload-input-button--hover: ;
  --bc-bp3__file-upload-input-button: ;
  --bi-bp3__file-upload-input-button: ;
  --bd-bp3__file-upload-input-button: ;
  --sd-bp3__file-upload-input-button: ;
  --co-bp3__file-upload-input-button: ;
  --co-bp3__heading: ;
  --bc-bp3__html-select--hover: ;
  --co-bp3__html-select--hover: ;
  --bc-bp3__html-select: ;
  --sd-bp3__html-select: ;
  --co-bp3__html-select: ;
  --co-bp3__html-select-icon: ;
  --sd-bp3__input--focus: ;
  --bc-bp3__input: ;
  --bt-bp3__input: ;
  --br-bp3__input: ;
  --bb-bp3__input: ;
  --bl-bp3__input: ;
  --bd-bp3__input: ;
  --sd-bp3__input: ;
  --co-bp3__input: ;
  --fs-bp3__input: ;
  --fw-bp3__input: ;
  --co-bp3__input-group-icon: ;
  --co-bp3__input-placeholder: ;
  --bd-bp3__input-search: ;
  --bc-bp3__menu: ;
  --bd-bp3__menu: ;
  --co-bp3__menu: ;
  --fs-bp3__menu: ;
  --bc-bp3__menu-item--active: ;
  --bc-bp3__menu-item--hover: ;
  --bb-bp3__menu-item--hover: ;
  --co-bp3__menu-item--hover: ;
  --bb-bp3__menu-item: ;
  --bd-bp3__menu-item: ;
  --co-bp3__menu-item-icon--hover: ;
  --co-bp3__menu-item-icon: ;
  --fl-bp3__menu-item-icon-svg--hover: ;
  --fl-bp3__menu-item-icon-svg: ;
  --bc-bp3__menu-item-intent-primary--active: ;
  --co-bp3__menu-item-intent-primary: ;
  --co-bp3__menu-item-label--hover: ;
  --co-bp3__menu-item-label: ;
  --bd-bp3__popover: ;
  --sd-bp3__popover: ;
  --sd-bp3__popover-arrow: ;
  --fl-bp3__popover-arrow-border: ;
  --fl-bp3__popover-arrow-fill: ;
  --bc-bp3__popover-content: ;
  --bd-bp3__popover-content: ;
  --bc-bp3__slider-handle--active: ;
  --bi-bp3__slider-handle--active: ;
  --sd-bp3__slider-handle--active: ;
  --bc-bp3__slider-handle--hover: ;
  --bc-bp3__slider-handle: ;
  --bi-bp3__slider-handle: ;
  --bd-bp3__slider-handle: ;
  --sd-bp3__slider-handle: ;
  --co-bp3__slider-handle: ;
  --bc-bp3__slider-handle-label: ;
  --bd-bp3__slider-handle-label: ;
  --sd-bp3__slider-handle-label: ;
  --co-bp3__slider-handle-label: ;
  --bc-bp3__slider-progress: ;
  --bc-bp3__slider-progress-intent-primary: ;
  --co-bp3__tab--hover: ;
  --sd-bp3__tab--selected: ;
  --co-bp3__tab--selected: ;
  --fw-bp3__tab--selected: ;
  --co-bp3__tab: ;
  --bc-bp3__tab-vertical--selected: ;
  --sd-bp3__tab-vertical--selected: ;
  --co-bp3__tab-vertical--selected: ;
  --bc-bp3__tab-vertical-indicator: ;
  --bd-bp3__tab-vertical-indicator: ;
  --bc-bp3__tag: ;
  --bt-bp3__tag: ;
  --br-bp3__tag: ;
  --bb-bp3__tag: ;
  --bl-bp3__tag: ;
  --bd-bp3__tag: ;
  --sd-bp3__tag: ;
  --co-bp3__tag: ;
  --fs-bp3__tag: ;
  --bc-bp3__tooltip: ;
  --co-bp3__tooltip: ;
  --sd-bp3__tooltip-arrow: ;
  --fl-bp3__tooltip-arrow-border: ;
  --fl-bp3__tooltip-arrow-fill: ;
  --co-bp3__tooltip-heading: ;
  --bc-codeblock__active-line-gutter--focus: ;
  --bc-codeblock__active-line-gutter: ;
  --co-codeblock__atom: ;
  --co-codeblock__className: ;
  --co-codeblock__comment: ;
  --bl-codeblock__cursor: ;
  --co-codeblock__definition: ;
  --bc-codeblock__gutters: ;
  --co-codeblock__gutters: ;
  --co-codeblock__keyword: ;
  --co-codeblock__label: ;
  --co-codeblock__number: ;
  --bc-codeblock__selection--focus: ;
  --bc-codeblock__selection: ;
  --co-codeblock__string: ;
  --co-codeblock__typename: ;
  --co-codeblock__variable: ;
  --bc-codeblock: ;
  --bd-codeblock: ;
  --sd-codeblock: ;
  --co-codeblock: ;
  --fs-codeblock: ;
  --bc-command-palette__footer: ;
  --bt-command-palette__footer: ;
  --bc-command-palette__menu-item--active: ;
  --co-command-palette__menu-item--active: ;
  --bd-command-palette__menu-item: ;
  --co-command-palette__shortcut--active: ;
  --bc-command-palette__shortcut: ;
  --co-command-palette__shortcut: ;
  --bc-control__block-highlight-blue-bullet: ;
  --br-control__block-highlight-blue-multibar: ;
  --bc-control__block-highlight-grey-bullet: ;
  --br-control__block-highlight-grey-multibar: ;
  --bc-control__bullet-closed-inner: ;
  --bt-control__bullet-closed-inner: ;
  --br-control__bullet-closed-inner: ;
  --bb-control__bullet-closed-inner: ;
  --bl-control__bullet-closed-inner: ;
  --bc-control__bullet-ghost: ;
  --bc-control__bullet-inner: ;
  --br-control__multibar--hover: ;
  --br-control__multibar: ;
  --co-daily__preview: ;
  --ff-daily__preview: ;
  --fs-daily__preview: ;
  --fw-daily__preview: ;
  --co-datepicker__day-today--hover: ;
  --co-datepicker__day-today--selected: ;
  --fw-datepicker__day-today--selected: ;
  --co-datepicker__day-today--selected-hover: ;
  --co-datepicker__day-today: ;
  --fw-datepicker__day-today: ;
  --co-datepicker__day-without-journal--hover: ;
  --co-datepicker__day-without-journal: ;
  --bc-diagram__button--active: ;
  --bi-diagram__button--active: ;
  --sd-diagram__button--active: ;
  --co-diagram__button--active: ;
  --bc-diagram__button--disabled: ;
  --bi-diagram__button--disabled: ;
  --sd-diagram__button--disabled: ;
  --co-diagram__button--disabled: ;
  --bc-diagram__button--disabled-active: ;
  --bc-diagram__button--hover: ;
  --sd-diagram__button--hover: ;
  --co-diagram__button--hover: ;
  --bc-diagram__button: ;
  --bi-diagram__button: ;
  --fl-diagram__button: ;
  --sd-diagram__button: ;
  --co-diagram__button: ;
  --sd-diagram__controls: ;
  --bc-diagram__minimap: ;
  --fl-diagram__minimap-node: ;
  --op-diagram__minimap-node: ;
  --bc-diagram__properties-panel: ;
  --sd-diagram__properties-panel: ;
  --co-diagram__properties-panel: ;
  --bc-diagram__resize-control: ;
  --bt-diagram__resize-control: ;
  --br-diagram__resize-control: ;
  --bb-diagram__resize-control: ;
  --bl-diagram__resize-control: ;
  --bc-diagram__title-panel: ;
  --sd-diagram__title-panel: ;
  --co-diagram__title-panel: ;
  --bc-diagram__toolbar: ;
  --bt-diagram__toolbar: ;
  --br-diagram__toolbar: ;
  --bb-diagram__toolbar: ;
  --bl-diagram__toolbar: ;
  --sd-diagram__toolbar: ;
  --sd-dialog__confirmation-button: ;
  --bc-dialog__confirmation-cancel-button--active: ;
  --sd-dialog__confirmation-cancel-button--active: ;
  --co-dialog__confirmation-cancel-button--active: ;
  --bc-dialog__confirmation-cancel-button--hover: ;
  --sd-dialog__confirmation-cancel-button--hover: ;
  --bc-dialog__confirmation-cancel-button: ;
  --bt-dialog__confirmation-cancel-button: ;
  --br-dialog__confirmation-cancel-button: ;
  --bb-dialog__confirmation-cancel-button: ;
  --bl-dialog__confirmation-cancel-button: ;
  --sd-dialog__confirmation-cancel-button: ;
  --co-dialog__confirmation-cancel-button: ;
  --bc-emoji-mart__anchor--hover: ;
  --bi-emoji-mart__anchor--hover: ;
  --bt-emoji-mart__anchor--hover: ;
  --br-emoji-mart__anchor--hover: ;
  --bb-emoji-mart__anchor--hover: ;
  --bl-emoji-mart__anchor--hover: ;
  --bd-emoji-mart__anchor--hover: ;
  --sd-emoji-mart__anchor--hover: ;
  --co-emoji-mart__anchor--hover: ;
  --fl-emoji-mart__anchor--selected: ;
  --bc-emoji-mart__anchor: ;
  --bi-emoji-mart__anchor: ;
  --bt-emoji-mart__anchor: ;
  --br-emoji-mart__anchor: ;
  --bb-emoji-mart__anchor: ;
  --bl-emoji-mart__anchor: ;
  --bd-emoji-mart__anchor: ;
  --sd-emoji-mart__anchor: ;
  --co-emoji-mart__anchor: ;
  --bc-emoji-mart__anchor-bar--selected: ;
  --fl-emoji-mart__anchor-icon: ;
  --bb-emoji-mart__bar--first-child: ;
  --bt-emoji-mart__bar: ;
  --bc-emoji-mart__category-label: ;
  --fs-emoji-mart__category-label: ;
  --bc-emoji-mart__emoji--hover: ;
  --bi-emoji-mart__emoji--hover: ;
  --bt-emoji-mart__emoji--hover: ;
  --br-emoji-mart__emoji--hover: ;
  --bb-emoji-mart__emoji--hover: ;
  --bl-emoji-mart__emoji--hover: ;
  --bd-emoji-mart__emoji--hover: ;
  --sd-emoji-mart__emoji--hover: ;
  --co-emoji-mart__emoji--hover: ;
  --bc-emoji-mart__emoji: ;
  --bi-emoji-mart__emoji: ;
  --bt-emoji-mart__emoji: ;
  --br-emoji-mart__emoji: ;
  --bb-emoji-mart__emoji: ;
  --bl-emoji-mart__emoji: ;
  --bd-emoji-mart__emoji: ;
  --sd-emoji-mart__emoji: ;
  --co-emoji-mart__emoji: ;
  --bc-emoji-mart__emoji-before--hover: ;
  --bc-emoji-mart__search-icon: ;
  --bi-emoji-mart__search-icon: ;
  --fl-emoji-mart__search-icon: ;
  --bt-emoji-mart__search-icon: ;
  --br-emoji-mart__search-icon: ;
  --bb-emoji-mart__search-icon: ;
  --bl-emoji-mart__search-icon: ;
  --bd-emoji-mart__search-icon: ;
  --sd-emoji-mart__search-icon: ;
  --co-emoji-mart__search-icon: ;
  --sd-emoji-mart__search-input--focus: ;
  --bc-emoji-mart__search-input: ;
  --bt-emoji-mart__search-input: ;
  --br-emoji-mart__search-input: ;
  --bb-emoji-mart__search-input: ;
  --bl-emoji-mart__search-input: ;
  --bd-emoji-mart__search-input: ;
  --sd-emoji-mart__search-input: ;
  --co-emoji-mart__search-input: ;
  --fs-emoji-mart__search-input: ;
  --fw-emoji-mart__search-input: ;
  --co-emoji-mart__search-input-placeholder: ;
  --bc-emoji-mart: ;
  --bt-emoji-mart: ;
  --br-emoji-mart: ;
  --bb-emoji-mart: ;
  --bl-emoji-mart: ;
  --bd-emoji-mart: ;
  --co-emoji-mart: ;
  --bc-extensions__extension-small--hover: ;
  --co-extensions__extension-small-description: ;
  --co-extensions__extension-small-downloads: ;
  --co-extensions__full-desc: ;
  --co-extensions__full-downloads: ;
  --co-extensions__full-stats: ;
  --bc-extensions__input--focus: ;
  --sd-extensions__input--focus: ;
  --bc-extensions__input: ;
  --bt-extensions__input: ;
  --br-extensions__input: ;
  --bb-extensions__input: ;
  --bl-extensions__input: ;
  --bd-extensions__input: ;
  --sd-extensions__input: ;
  --co-extensions__input: ;
  --fs-extensions__input: ;
  --fw-extensions__input: ;
  --co-extensions__input-placeholder: ;
  --bc-extensions__marketplace: ;
  --bd-extensions__marketplace: ;
  --co-extensions__marketplace: ;
  --bc-extensions__marketplace-details: ;
  --bc-extensions__marketplace-details-thumb: ;
  --bc-extensions__marketplace-details-track: ;
  --bc-extensions__marketplace-search: ;
  --bc-extensions__menu-item: ;
  --bc-extensions__search-results-scrollbar-thumb: ;
  --bc-extensions__search-results-scrollbar-track: ;
  --co-filter__helper-text: ;
  --bc-find-or-create__highlight: ;
  --co-find-or-create__highlight: ;
  --co-find-or-create__label--selected: ;
  --co-find-or-create__label: ;
  --bc-find-or-create__menu-item--selected: ;
  --co-find-or-create__menu-item--selected: ;
  --co-find-or-create__recent: ;
  --co-find-or-create__search-list-item--selected: ;
  --co-find-or-create__search-list-item: ;
  --ff-find-or-create: ;
  --bc-graph__control-panel: ;
  --sd-graph__control-panel: ;
  --co-graph__control-panel: ;
  --co-graph__default-edge: ;
  --co-graph__default-node: ;
  --co-graph__explore-node: ;
  --co-graph__label: ;
  --ff-graph__label: ;
  --co-graph__selected-edge: ;
  --co-graph__unselected-edge: ;
  --co-graph__unselected-node: ;
  --bc-graph: ;
  --bc-help__category-menu-item--hover: ;
  --bc-help__category-menu-item--selected: ;
  --co-help__category-menu-item--selected: ;
  --bd-help__category-menu-item: ;
  --co-help__category-name: ;
  --fs-help__category-name: ;
  --tt-help__category-name: ;
  --co-help__component-description: ;
  --bc-help__component-notation: ;
  --sd-help__component-notation: ;
  --co-help__component-notation: ;
  --co-help__component-title: ;
  --co-help__function-markdown: ;
  --co-help__function-name: ;
  --fs-help__function-name: ;
  --bt-help__hr: ;
  --co-help__markdown: ;
  --bc-help__resource--hover: ;
  --bd-help__resource: ;
  --co-help__resource-description: ;
  --fs-help__resource-description: ;
  --bc-help__resource-icon: ;
  --co-help__resource-icon: ;
  --co-help__resource-title: ;
  --fs-help__resource-title: ;
  --co-help__search-icon: ;
  --bt-help__search-icon-container: ;
  --br-help__search-icon-container: ;
  --bb-help__search-icon-container: ;
  --bl-help__search-icon-container: ;
  --bc-help__search-input--focus: ;
  --sd-help__search-input--focus: ;
  --bc-help__search-input: ;
  --bt-help__search-input: ;
  --br-help__search-input: ;
  --bb-help__search-input: ;
  --bl-help__search-input: ;
  --bd-help__search-input: ;
  --sd-help__search-input: ;
  --co-help__search-input: ;
  --fs-help__search-input: ;
  --fw-help__search-input: ;
  --co-help__search-input-placeholder: ;
  --co-help__title: ;
  --bb-html__a--focus: ;
  --co-html__a--focus: ;
  --td-html__a--focus: ;
  --bb-html__a--hover: ;
  --co-html__a--hover: ;
  --td-html__a--hover: ;
  --bb-html__a: ;
  --co-html__a: ;
  --td-html__a: ;
  --bc-html__body: ;
  --co-html__body: ;
  --ff-html__body: ;
  --fs-html__body: ;
  --bc-html__button--active: ;
  --bi-html__button--active: ;
  --sd-html__button--active: ;
  --co-html__button--active: ;
  --bc-html__button--disabled: ;
  --bi-html__button--disabled: ;
  --sd-html__button--disabled: ;
  --co-html__button--disabled: ;
  --bc-html__button--disabled-active: ;
  --bc-html__button--hover: ;
  --sd-html__button--hover: ;
  --co-html__button--hover: ;
  --bc-html__button: ;
  --bi-html__button: ;
  --bt-html__button: ;
  --br-html__button: ;
  --bb-html__button: ;
  --bl-html__button: ;
  --bd-html__button: ;
  --sd-html__button: ;
  --co-html__button: ;
  --ff-html__div: ;
  --bc-html__highlight: ;
  --co-html__highlight: ;
  --sd-html__input--focus: ;
  --bc-html__input: ;
  --bt-html__input: ;
  --br-html__input: ;
  --bb-html__input: ;
  --bl-html__input: ;
  --bd-html__input: ;
  --sd-html__input: ;
  --co-html__input: ;
  --fs-html__input: ;
  --fw-html__input: ;
  --bc-html__selection: ;
  --co-left-sidebar__db-title: ;
  --ff-left-sidebar__db-title: -apply-system, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fw-left-sidebar__db-title: ;
  --co-left-sidebar__expand-icon: ;
  --sd-left-sidebar__graph-dropdown: ;
  --fs-left-sidebar__graph-dropdown: ;
  --fw-left-sidebar__graph-dropdown: ;
  --op-left-sidebar__graph-dropdown: ;
  --co-left-sidebar__graph-dropdown-a--hover: ;
  --co-left-sidebar__graph-dropdown-a: ;
  --co-left-sidebar__graph-dropdown-menu-title: ;
  --fs-left-sidebar__graph-dropdown-menu-title: ;
  --bc-left-sidebar__graph-dropdown-settings--hover: ;
  --co-left-sidebar__graph-dropdown-settings--hover: ;
  --bc-left-sidebar__graph-dropdown-settings: ;
  --co-left-sidebar__graph-dropdown-settings-icon--hover: ;
  --co-left-sidebar__graph-dropdown-settings-icon: ;
  --fs-left-sidebar__graph-dropdown-sign-out: ;
  --op-left-sidebar__graph-dropdown-sign-out: ;
  --co-left-sidebar__icon--hover: ;
  --co-left-sidebar__icon: ;
  --fs-left-sidebar__icon: ;
  --bc-left-sidebar__log-button--hover: ;
  --bi-left-sidebar__log-button--hover: ;
  --co-left-sidebar__log-button--hover: ;
  --bd-left-sidebar__log-button: ;
  --co-left-sidebar__log-button: ;
  --ff-left-sidebar__log-button: -apply-system, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fs-left-sidebar__log-button: ;
  --fw-left-sidebar__log-button: ;
  --bc-left-sidebar__logo--hover: ;
  --co-left-sidebar__logo-text: ;
  --co-left-sidebar__shortcuts-title: ;
  --ff-left-sidebar__shortcuts-title: -apply-system, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bc-left-sidebar__starred-page--hover: ;
  --co-left-sidebar__starred-page--hover: ;
  --fw-left-sidebar__starred-page--hover: ;
  --bd-left-sidebar__starred-page: ;
  --co-left-sidebar__starred-page: ;
  --ff-left-sidebar__starred-page: -apply-system, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fs-left-sidebar__starred-page: ;
  --fw-left-sidebar__starred-page: ;
  --bc-left-sidebar__top-row: ;
  --bb-left-sidebar__top-row: ;
  --bc-left-sidebar: ;
  --br-left-sidebar: ;
  --sd-left-sidebar: ;
  --bb-main__alias-block--hover: ;
  --co-main__alias-block--hover: ;
  --td-main__alias-block--hover: ;
  --bb-main__alias-block: ;
  --co-main__alias-block: ;
  --bb-main__alias-external--hover: ;
  --co-main__alias-external--hover: ;
  --td-main__alias-external--hover: ;
  --bb-main__alias-external: ;
  --co-main__alias-external: ;
  --bb-main__alias-page--hover: ;
  --co-main__alias-page--hover: ;
  --td-main__alias-page--hover: ;
  --bb-main__alias-page: ;
  --co-main__alias-page: ;
  --bl-main__alias-tooltip-content-bq: ;
  --co-main__alias-tooltip-content-bq: ;
  --co-main__block-ghost: ;
  --bc-block__block-highlight-blue: ;
  --bc-block__block-highlight-grey: ;
  --bt-block__block-highlight-yellow: ;
  --br-block__block-highlight-yellow: ;
  --bb-block__block-highlight-yellow: ;
  --bl-block__block-highlight-yellow: ;
  --sd-block__block-highlight-yellow: ;
  --bc-main__block-ref--hover: ;
  --bb-main__block-ref: ;
  --co-main__block-view-comment-card-display-name: ;
  --co-main__block-view-comment-card-editing-time: ;
  --bc-main__block-view-group: ;
  --bl-main__block-view-group-border: ;
  --bc-main__block-view-group-view: ;
  --co-main__block-view-group-view: ;
  --fs-main__block-view-group-view: ;
  --bc-main__block-view-horizontal: ;
  --bc-main__block-view-side: ;
  --bt-main__block-view-side-children: ;
  --br-main__block-view-side-children: ;
  --bb-main__block-view-side-children: ;
  --bl-main__block-view-side-children: ;
  --bt-main__block-view-vertical: ;
  --br-main__block-view-vertical: ;
  --bb-main__block-view-vertical: ;
  --bl-main__block-view-vertical: ;
  --bc-main__blockquote: ;
  --bl-main__blockquote: ;
  --co-main__blockquote: ;
  --fs-main__blockquote: ;
  --co-main__brackets: ;
  --bc-main__checkbox--checked: ;
  --bi-main__checkbox--checked: ;
  --sd-main__checkbox--checked: ;
  --bc-main__checkbox: ;
  --bi-main__checkbox: ;
  --bt-main__checkbox: ;
  --br-main__checkbox: ;
  --bb-main__checkbox: ;
  --bl-main__checkbox: ;
  --sd-main__checkbox: ;
  --bc-main__code: ;
  --bt-main__code: ;
  --br-main__code: ;
  --bb-main__code: ;
  --bl-main__code: ;
  --bd-main__code: ;
  --sd-main__code: ;
  --co-main__code: ;
  --bc-main__dnd-seperator-bar: ;
  --bc-main__embed-children-container: ;
  --bc-main__embed-container: ;
  --bc-main__embed-container-1: ;
  --bc-main__embed-container-2: ;
  --bc-main__embed-container-3: ;
  --bc-main__embed-container-4: ;
  --bc-main__embed-container-5: ;
  --bc-main__embed-container-6: ;
  --bc-main__embed-container-7: ;
  --bc-main__embed-container-8: ;
  --bc-main__embed-container-9: ;
  --bt-main__embed-content-references: ;
  --bc-main__embed-page: ;
  --bc-main__embed-page-margin-action: ;
  --op-main__embed-page-margin-action: ;
  --bc-main__embed-path: ;
  --bc-main__encrypted-block: ;
  --co-main__encrypted-block: ;
  --fs-main__encrypted-block: ;
  --co-main__heading-level-1: ;
  --ff-main__heading-level-1: ;
  --fs-main__heading-level-1: ;
  --fw-main__heading-level-1: ;
  --co-main__heading-level-2: ;
  --ff-main__heading-level-2: ;
  --fs-main__heading-level-2: ;
  --fw-main__heading-level-2: ;
  --co-main__heading-level-3: ;
  --ff-main__heading-level-3: ;
  --fs-main__heading-level-3: ;
  --fw-main__heading-level-3: ;
  --bc-main__help-popup: ;
  --bc-main__highlight: ;
  --bc-main__inline-references: ;
  --bc-main__kanban-board: ;
  --bc-main__kanban-card: ;
  --bc-main__kanban-column: ;
  --bb-main__kanban-title: ;
  --co-main__namespace: ;
  --ft-main__namespace: ;
  --bc-main__option--hover: ;
  --sd-main__option--hover: ;
  --co-main__option--hover: ;
  --bc-main__option: ;
  --bi-main__option: ;
  --bt-main__option: ;
  --br-main__option: ;
  --bb-main__option: ;
  --bl-main__option: ;
  --bd-main__option: ;
  --sd-main__option: ;
  --co-main__option: ;
  --bt-main__option-arrow--hover: ;
  --bt-main__option-arrow: ;
  --bb-main__page-ref-link: ;
  --co-main__page-ref-link: ;
  --bc-main__parenthicals--hover: ;
  --bc-main__parenthicals: ;
  --bt-main__parenthicals: ;
  --br-main__parenthicals: ;
  --bb-main__parenthicals: ;
  --bl-main__parenthicals: ;
  --bd-main__parenthicals: ;
  --bc-main__pomodoro: ;
  --bt-main__pomodoro: ;
  --br-main__pomodoro: ;
  --bb-main__pomodoro: ;
  --bl-main__pomodoro: ;
  --bd-main__pomodoro: ;
  --co-main__pomodoro: ;
  --bt-main__query: ;
  --br-main__query: ;
  --bb-main__query: ;
  --bl-main__query: ;
  --co-main__query-error: ;
  --bc-main__query-title: ;
  --bb-main__query-title: ;
  --co-main__query-title: ;
  --bc-main__ref-count--active: ;
  --co-main__ref-count--active: ;
  --co-main__reference-keyprompt: ;
  --fs-main__reference-keyprompt: ;
  --op-main__reference-keyprompt: ;
  --bt-main__roam-table: ;
  --br-main__roam-table: ;
  --bb-main__roam-table: ;
  --bl-main__roam-table: ;
  --bc-main__streak-day-0: ;
  --bc-main__streak-day-1: ;
  --bc-main__streak-day-2: ;
  --bc-main__streak-day-3: ;
  --bc-main__streak-day-4: ;
  --bc-main__streak-error: ;
  --co-main__streak-month: ;
  --co-main__streak-weekday: ;
  --bb-main__tab-list: ;
  --co-main__tag: ;
  --fs-main__title: ;
  --fw-main__title: ;
  --co-main__title: ;
  --bb-main__version-bullet--selected: ;
  --sd-main__version-bullet--selected: ;
  --bc-main__version-bullet: ;
  --bt-main__version-bullet: ;
  --br-main__version-bullet: ;
  --bb-main__version-bullet: ;
  --bl-main__version-bullet: ;
  --bb-main__version-choice: ;
  --op-main__video-comment: ;
  --co-main__zoom-item: ;
  --bc-main__zoom-mask: ;
  --fs-main__zoom-path: ;
  --ff-main: -apply-system, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bc-main: ;
  --fs-main: ;
  --bc-menu__button--active: ;
  --bi-menu__button--active: ;
  --sd-menu__button--active: ;
  --bc-menu__button--hover: ;
  --bi-menu__button--hover: ;
  --sd-menu__button--hover: ;
  --co-menu__button--hover: ;
  --bc-menu__button: ;
  --bi-menu__button: ;
  --bt-menu__button: ;
  --br-menu__button: ;
  --bb-menu__button: ;
  --bl-menu__button: ;
  --bd-menu__button: ;
  --sd-menu__button: ;
  --co-menu__button: ;
  --co-menu__button-icon: ;
  --bc-mermaid__label-container: ;
  --co-mermaid__label-container: ;
  --co-mermaid__edge-path: ;
  --fl-mermaid__arrow-head: ;
  --bc-mermaid__note: ;
  --co-mermaid__note: ;
  --bc-mermaid__actor: ;
  --co-mermaid__actor: ;
  --bc-mermaid__label-box: ;
  --co-mermaid__label-box: ;
  --bl-query__edit-dialog: ;
  --co-reference__filter-icon--active: ;
  --bc-reference__item: ;
  --co-reference__linked-unlinked-title: ;
  --fw-reference__linked-unlinked-title: ;
  --co-reference__linked-unlinked-title--collapsed: ;
  --bc-reference__nested-refs: ;
  --bd-reference__nested-refs: ;
  --sd-reference__nested-refs: ;
  --td-reference__page-view-title--hover: ;
  --fw-reference__page-view-title: ;
  --bc-reference__search-input--focus: ;
  --bc-reference__search-input: ;
  --bc-right-sidebar__dnd-seperator-bar: ;
  --co-right-sidebar__helper-text: ;
  --ff-right-sidebar__helper-text: ;
  --fs-right-sidebar__title: ;
  --fw-right-sidebar__title: ;
  --bb-right-sidebar__window: ;
  --bc-right-sidebar: ;
  --bl-right-sidebar: ;
  --sd-right-sidebar: ;
  --ff-right-sidebar: ;
  --co-roam__datepicker-day-nopage: ;
  --co-roam__datepicker-today: ;
  --co-roam__datepicker-today-selected: ;
  --bc-roam__install-button--hover: ;
  --co-roam__install-button--hover: ;
  --bc-roam__install-button: ;
  --bt-roam__install-button: ;
  --br-roam__install-button: ;
  --bb-roam__install-button: ;
  --bl-roam__install-button: ;
  --co-roam__install-button: ;
  --bc-roam__modal-dialog: ;
  --bc-roam-css-code__active: ;
  --co-roam-css-code__active: ;
  --bc-roam-css-code__active-button--hover: ;
  --sd-roam-css-code__active-button--hover: ;
  --co-roam-css-code__active-button--hover: ;
  --bc-roam-css-code__active-button: ;
  --bi-roam-css-code__active-button: ;
  --sd-roam-css-code__active-button: ;
  --co-roam-css-code__active-button: ;
  --co-roam-css-code__active-description: ;
  --fs-roam-css-code__active-description: ;
  --fw-roam-css-code__active-description: ;
  --bc-roam-css-code__inactive: ;
  --co-roam-css-code__inactive: ;
  --bc-roam-css-code__inactive-button--hover: ;
  --sd-roam-css-code__inactive-button--hover: ;
  --co-roam-css-code__inactive-button--hover: ;
  --bc-roam-css-code__inactive-button: ;
  --bi-roam-css-code__inactive-button: ;
  --sd-roam-css-code__inactive-button: ;
  --co-roam-css-code__inactive-button: ;
  --co-roam-css-code__inactive-description: ;
  --fs-roam-css-code__inactive-description: ;
  --fw-roam-css-code__inactive-description: ;
  --bb-settings__api-token: ;
  --co-settings__description: ;
  --co-settings__extension-heading: ;
  --fs-settings__extension-heading: ;
  --fw-settings__extension-heading: ;
  --tt-settings__extension-heading: ;
  --bc-settings__extension-settings: ;
  --co-settings__extension-settings: ;
  --co-settings__file-list-item--hover: ;
  --td-settings__file-list-item--hover: ;
  --co-settings__file-list-item: ;
  --td-settings__file-list-item: ;
  --co-settings__heading: ;
  --fs-settings__heading: ;
  --fw-settings__heading: ;
  --tt-settings__heading: ;
  --bc-settings__hotkeys: ;
  --bt-settings__hotkeys-hr: ;
  --bt-settings__hotkeys-section-hr: ;
  --bc-settings__input--focus: ;
  --sd-settings__input--focus: ;
  --bc-settings__input: ;
  --bt-settings__input: ;
  --br-settings__input: ;
  --bb-settings__input: ;
  --bl-settings__input: ;
  --bd-settings__input: ;
  --sd-settings__input: ;
  --co-settings__input: ;
  --fs-settings__input: ;
  --fw-settings__input: ;
  --co-settings__input-placeholder: ;
  --bc-settings__panel-scrollbar-thumb: ;
  --bc-settings__panel-scrollbar-track: ;
  --bt-settings__panel-section: ;
  --bt-settings__panel-section-top: ;
  --bc-settings__select-wrapper: ;
  --bt-settings__select-wrapper: ;
  --br-settings__select-wrapper: ;
  --bb-settings__select-wrapper: ;
  --bl-settings__select-wrapper: ;
  --bd-settings__select-wrapper: ;
  --bc-settings__select-wrapper-button--hover: ;
  --sd-settings__select-wrapper-button--hover: ;
  --co-settings__select-wrapper-button--hover: ;
  --bc-settings__select-wrapper-button: ;
  --bi-settings__select-wrapper-button: ;
  --sd-settings__select-wrapper-button: ;
  --co-settings__select-wrapper-button: ;
  --bt-settings__settings-table: ;
  --br-settings__settings-table: ;
  --bb-settings__settings-table: ;
  --bl-settings__settings-table: ;
  --bc-settings__settings-wrapper: ;
  --bc-settings__tab--hover: ;
  --bc-settings__tab--selected: ;
  --bd-settings__tab--selected: ;
  --co-settings__tab--selected: ;
  --co-settings__tab: ;
  --bc-settings__tab-list: ;
  --br-settings__tab-list: ;
  --bc-settings__tab-list-scrollbar-thumb: ;
  --bc-settings__tab-list-scrollbar-track: ;
  --bc-settings__tabs: ;
  --bc-settings: ;
  --co-settings: ;
  --bc-topbar__sync-saving-local: ;
  --bc-topbar__sync-saving-remote: ;
  --bc-topbar__sync-synced: ;
  --bb-topbar: ;
  --fs-zoom__mentions-view: ;
  --fw-zoom__mentions-view: ;
  --co-zoom-path__item: ;
  --bc-searchplus__sidebar: ;
  --co-searchplus__sidebar: ;
  --co-searchplus__date: ;
  --co-searchplus__sidebar-headings: ;
}