:root {
  --co-allpages__children-text: var(--cl-gray-500);
  --bc-allpages__clickable-pill: transparent;
  --co-allpages__clickable-pill: var(--cl-gray-900);
  --op-allpages__clickable-pill: ;
  --bc-allpages__clickable-pill-empty: transparent;
  --co-allpages__clickable-pill-empty: var(--cl-gray-900);
  --op-allpages__clickable-pill-empty: ;
  --bc-allpages__clickable-pill-level1: transparent;
  --co-allpages__clickable-pill-level1: var(--cl-gray-900);
  --op-allpages__clickable-pill-level1: ;
  --bc-allpages__clickable-pill-level2: transparent;
  --co-allpages__clickable-pill-level2: var(--cl-gray-900);
  --op-allpages__clickable-pill-level2: ;
  --bc-allpages__clickable-pill-level3: transparent;
  --co-allpages__clickable-pill-level3: var(--cl-gray-900);
  --op-allpages__clickable-pill-level3: ;
  --co-allpages__icon-filtered: var(--cl-accent-700);
  --bt-allpages__input--focus: transparent;
  --br-allpages__input--focus: transparent;
  --bb-allpages__input--focus: transparent;
  --bl-allpages__input--focus: transparent;
  --sd-allpages__input--focus: 0px 0px 0px 2px var(--cl-accent-500);
  --bc-allpages__input: var(--cl-white);
  --bt-allpages__input: transparent;
  --br-allpages__input: transparent;
  --bb-allpages__input: transparent;
  --bl-allpages__input: transparent;
  --bd-allpages__input: 3px;
  --sd-allpages__input: 0px 0px 0px 1px var(--cl-gray-300);
  --co-allpages__input: var(--cl-gray-900);
  --fs-allpages__input: 1rem;
  --fw-allpages__input: normal;
  --co-allpages__input-group-icon: var(--cl-gray-500);
  --co-allpages__input-placeholder: var(--cl-gray-500);
  --bb-allpages__row: transparent;
  --sd-allpages__row: none;
  --co-allpages__row: var(--cl-gray-900);
  --bc-allpages__row-header: transparent;
  --bt-allpages__row-header: 1px solid var(--cl-gray-900);
  --bb-allpages__row-header: 1px solid var(--cl-gray-900);
  --bd-allpages__row-header: 0px;
  --co-allpages__row-header: var(--cl-gray-900);
  --co-allpages__sort-button-focused: var(--cl-accent-700);
  --co-allpages__sorted-header-text: var(--cl-gray-900);
  --fw-allpages__sorted-header-text: bold;
  --co-allpages__title-col: var(--cl-gray-900);
  --co-allpages__title-text: var(--cl-gray-900);
  --co-app: var(--cl-gray-900);
  --bc-autocomplete__codeblock--hover: transparent;
  --bc-autocomplete__menu-item--selected: var(--cl-accent-500);
  --co-autocomplete__menu-item--selected: var(--cl-white);
  --co-autocomplete__menu-item-shortcut--selected: var(--cl-white);
  --co-autocomplete__new-block--hover: var(--cl-white);
  --co-autocomplete__new-block: var(--cl-gray-500);
  --bc-autocomplete: var(--cl-gray-100);
  --fs-block-search__heading: 18px;
  --bd-block-search__input: 3px;
  --bc-block-search__menu: var(--cl-gray-100);
  --bc-bp3__button--active: #d0d0d0;
  --bi-bp3__button--active: transparent;
  --sd-bp3__button--active: inset 0 0 0 1px rgba(16,22,26,0.2),inset 0 1px 2px rgba(16,22,26,0.2);
  --co-bp3__button--active: #414141;
  --bc-bp3__button--disabled: transparent;
  --bi-bp3__button--disabled: transparent;
  --sd-bp3__button--disabled: none;
  --co-bp3__button--disabled: var(--cl-gray-500);
  --bc-bp3__button--disabled-active: transparent;
  --bc-bp3__button--hover: #dcdcdc;
  --sd-bp3__button--hover: none;
  --co-bp3__button--hover: #414141;
  --bc-bp3__button: #dcdcdc;
  --bi-bp3__button: transparent;
  --sd-bp3__button: none;
  --co-bp3__button: #414141;
  --co-bp3__button-icon: var(--cl-gray-500);
  --bc-bp3__button-intent-danger--active: #d0d0d0;
  --bi-bp3__button-intent-danger--active: transparent;
  --sd-bp3__button-intent-danger--active: inset 0 0 0 1px rgba(16,22,26,0.4),inset 0 1px 2px rgba(16,22,26,0.2);
  --co-bp3__button-intent-danger--active: var(--cl-red-500);
  --bc-bp3__button-intent-danger--disabled: rgba(219,55,55,0.5);
  --bi-bp3__button-intent-danger--disabled: transparent;
  --sd-bp3__button-intent-danger--disabled: none;
  --co-bp3__button-intent-danger--disabled: rgba(255,255,255,0.6);
  --bc-bp3__button-intent-danger--hover: #dcdcdc;
  --sd-bp3__button-intent-danger--hover: none;
  --co-bp3__button-intent-danger--hover: var(--cl-red-500);
  --bc-bp3__button-intent-danger: #dcdcdc;
  --bi-bp3__button-intent-danger: transparent;
  --sd-bp3__button-intent-danger: none;
  --co-bp3__button-intent-danger: var(--cl-red-500);
  --bc-bp3__button-intent-danger-minimal--active: rgba(219,55,55,.3);
  --co-bp3__button-intent-danger-minimal--active: var(--cl-red-800);
  --bc-bp3__button-intent-danger-minimal--disabled: transparent;
  --bi-bp3__button-intent-danger-minimal--disabled: transparent;
  --co-bp3__button-intent-danger-minimal--disabled: rgba(194,48,48,.5);
  --bc-bp3__button-intent-danger-minimal--disabled-active: rgba(219,55,55,.3);
  --co-bp3__button-intent-danger-minimal--disabled-active: var(--cl-red-800);
  --bc-bp3__button-intent-danger-minimal--hover: rgba(219,55,55,.15);
  --co-bp3__button-intent-danger-minimal--hover: var(--cl-red-500);
  --co-bp3__button-intent-danger-minimal: var(--cl-red-500);
  --bc-bp3__button-intent-primary--active: #6a6a6a;
  --bi-bp3__button-intent-primary--active: transparent;
  --sd-bp3__button-intent-primary--active: none;
  --co-bp3__button-intent-primary--active: var(--cl-white);
  --bc-bp3__button-intent-primary--disabled: transparent;
  --bi-bp3__button-intent-primary--disabled: transparent;
  --sd-bp3__button-intent-primary--disabled: none;
  --co-bp3__button-intent-primary--disabled: var(--cl-gray-500);
  --bc-bp3__button-intent-primary--hover: #767676;
  --sd-bp3__button-intent-primary--hover: none;
  --co-bp3__button-intent-primary--hover: var(--cl-white);
  --bc-bp3__button-intent-primary: #767676;
  --bi-bp3__button-intent-primary: transparent;
  --sd-bp3__button-intent-primary: none;
  --co-bp3__button-intent-primary: var(--cl-white);
  --bc-bp3__button-intent-primary-minimal--active: rgba(19,124,189,.3);
  --co-bp3__button-intent-primary-minimal--active: var(--cl-blue-800);
  --bc-bp3__button-intent-primary-minimal--disabled: transparent;
  --bi-bp3__button-intent-primary-minimal--disabled: transparent;
  --co-bp3__button-intent-primary-minimal--disabled: rgba(16,107,163,.5);
  --bc-bp3__button-intent-primary-minimal--disabled-active: rgba(19,124,189,.3);
  --co-bp3__button-intent-primary-minimal--disabled-active: var(--cl-blue-800);
  --bc-bp3__button-intent-primary-minimal--hover: rgba(19,124,189,.15);
  --co-bp3__button-intent-primary-minimal--hover: var(--cl-blue-800);
  --co-bp3__button-intent-primary-minimal: var(--cl-blue-800);
  --bc-bp3__button-intent-success--active: #d0d0d0;
  --bi-bp3__button-intent-success--active: transparent;
  --sd-bp3__button-intent-success--active: inset 0 0 0 1px rgba(16,22,26,0.2),inset 0 1px 2px rgba(16,22,26,0.2);
  --co-bp3__button-intent-success--active: #414141;
  --bc-bp3__button-intent-success--disabled: transparent;
  --bi-bp3__button-intent-success--disabled: transparent;
  --sd-bp3__button-intent-success--disabled: none;
  --co-bp3__button-intent-success--disabled: var(--cl-gray-500);
  --bc-bp3__button-intent-success--hover: #dcdcdc;
  --sd-bp3__button-intent-success--hover: none;
  --co-bp3__button-intent-success--hover: #414141;
  --bc-bp3__button-intent-success: #dcdcdc;
  --bi-bp3__button-intent-success: transparent;
  --sd-bp3__button-intent-success: none;
  --co-bp3__button-intent-success: #414141;
  --bc-bp3__button-intent-success-minimal--active: rgba(15,153,96,.3);
  --co-bp3__button-intent-success-minimal--active: var(--cl-green-800);
  --bc-bp3__button-intent-success-minimal--disabled: transparent;
  --bi-bp3__button-intent-success-minimal--disabled: transparent;
  --co-bp3__button-intent-success-minimal--disabled: rgba(13,128,80,.5);
  --bc-bp3__button-intent-success-minimal--disabled-active: rgba(15,153,96,.3);
  --co-bp3__button-intent-success-minimal--disabled-active: var(--cl-green-800);
  --bc-bp3__button-intent-success-minimal--hover: rgba(15,153,96,.15);
  --co-bp3__button-intent-success-minimal--hover: var(--cl-green-800);
  --co-bp3__button-intent-success-minimal: var(--cl-green-800);
  --bc-bp3__button-intent-warning--active: var(--cl-orange-900);
  --bi-bp3__button-intent-warning--active: transparent;
  --sd-bp3__button-intent-warning--active: inset 0 0 0 1px rgba(16,22,26,0.4),inset 0 1px 2px rgba(16,22,26,0.2);
  --co-bp3__button-intent-warning--active: var(--cl-white);
  --bc-bp3__button-intent-warning--disabled: rgba(217,130,43,0.5);
  --bi-bp3__button-intent-warning--disabled: transparent;
  --sd-bp3__button-intent-warning--disabled: none;
  --co-bp3__button-intent-warning--disabled: rgba(255,255,255,0.6);
  --bc-bp3__button-intent-warning--hover: var(--cl-orange-800);
  --sd-bp3__button-intent-warning--hover: inset 0 0 0 1px rgba(16,22,26,0.4),inset 0 -1px 0 rgba(16,22,26,0.2);
  --co-bp3__button-intent-warning--hover: var(--cl-white);
  --bc-bp3__button-intent-warning: var(--cl-orange-700);
  --bi-bp3__button-intent-warning: linear-gradient(to bottom,rgba(255,255,255,0.1),rgba(255,255,255,0));
  --sd-bp3__button-intent-warning: inset 0 0 0 1px rgba(16,22,26,0.4),inset 0 -1px 0 rgba(16,22,26,0.2);
  --co-bp3__button-intent-warning: var(--cl-white);
  --bc-bp3__button-intent-warning-minimal--active: rgba(217,130,43,.3);
  --co-bp3__button-intent-warning-minimal--active: var(--cl-orange-800);
  --bc-bp3__button-intent-warning-minimal--disabled: transparent;
  --bi-bp3__button-intent-warning-minimal--disabled: transparent;
  --co-bp3__button-intent-warning-minimal--disabled: rgba(191,115,38,.5);
  --bc-bp3__button-intent-warning-minimal--disabled-active: rgba(217,130,43,.3);
  --co-bp3__button-intent-warning-minimal--disabled-active: var(--cl-orange-800);
  --bc-bp3__button-intent-warning-minimal--hover: rgba(217,130,43,.15);
  --co-bp3__button-intent-warning-minimal--hover: var(--cl-orange-800);
  --co-bp3__button-intent-warning-minimal: var(--cl-orange-800);
  --bc-bp3__button-minimal--active: var(--cl-gray-250);
  --sd-bp3__button-minimal--active: none;
  --co-bp3__button-minimal--active: #414141;
  --bc-bp3__button-minimal--disabled: transparent;
  --co-bp3__button-minimal--disabled: #414141;
  --bc-bp3__button-minimal--disabled-active: rgba(115,134,148,0.3);
  --bc-bp3__button-minimal--hover: var(--cl-gray-150);
  --sd-bp3__button-minimal--hover: none;
  --co-bp3__button-minimal--hover: #414141;
  --bc-bp3__button-minimal: transparent;
  --bi-bp3__button-minimal: transparent;
  --sd-bp3__button-minimal: none;
  --bc-bp3__button-outlined--active: rgba(115,134,148,0.3);
  --sd-bp3__button-outlined--active: none;
  --co-bp3__button-outlined--active: #414141;
  --bc-bp3__button-outlined--disabled: transparent;
  --co-bp3__button-outlined--disabled: rgba(92,112,128,0.6);
  --bc-bp3__button-outlined--disabled-active: rgba(115,134,148,0.3);
  --bc-bp3__button-outlined--hover: rgba(167,182,194,.3);
  --sd-bp3__button-outlined--hover: none;
  --bc-bp3__button-outlined: transparent;
  --bt-bp3__button-outlined: 1px solid rgba(24,32,38,0.2);
  --br-bp3__button-outlined: 1px solid rgba(24,32,38,0.2);
  --bb-bp3__button-outlined: 1px solid rgba(24,32,38,0.2);
  --bl-bp3__button-outlined: 1px solid rgba(24,32,38,0.2);
  --sd-bp3__button-outlined: none;
  --co-bp3__button-outlined: #414141;
  --bc-bp3__button-primary-outlined--hover: rgba(19,124,189,.15);
  --co-bp3__button-primary-outlined--hover: var(--cl-blue-800);
  --bt-bp3__button-primary-outlined: 1px solid rgba(16,107,163,.6);
  --br-bp3__button-primary-outlined: 1px solid rgba(16,107,163,.6);
  --bb-bp3__button-primary-outlined: 1px solid rgba(16,107,163,.6);
  --bl-bp3__button-primary-outlined: 1px solid rgba(16,107,163,.6);
  --co-bp3__button-primary-outlined: var(--cl-blue-800);
  --bc-bp3__callout: rgba(138,155,168,.15);
  --bc-bp3__callout-danger: rgba(138,155,168,.2);
  --co-bp3__callout-icon: var(--cl-gray-600);
  --co-bp3__callout-icon-danger: var(--cl-red-800);
  --co-bp3__callout-icon-primary: var(--cl-blue-800);
  --co-bp3__callout-icon-success: var(--cl-green-800);
  --co-bp3__callout-icon-warning: var(--cl-orange-800);
  --bc-bp3__callout-primary: rgba(19,124,189,.15);
  --bc-bp3__callout-success: rgba(15,153,96,.15);
  --bc-bp3__callout-warning: rgba(217,130,43,.15);
  --bc-bp3__card: var(--cl-gray-100);
  --sd-bp3__card: 0 0 0 1px rgba(16,22,26,0.15),0 0 0 rgba(16,22,26,0),0 0 0 rgba(16,22,26,0);
  --bc-bp3__control-indicator--active: var(--cl-gray-250);
  --sd-bp3__control-indicator--active: 0px 0px 0px 1px var(--cl-gray-300);
  --bc-bp3__control-indicator--active-checked: var(--cl-accent-500);
  --sd-bp3__control-indicator--active-checked: 0px 0px 0px 1px var(--cl-accent-500);
  --bc-bp3__control-indicator--checked: var(--cl-accent-400);
  --bi-bp3__control-indicator--checked: transparent;
  --sd-bp3__control-indicator--checked: 0px 0px 0px 1px var(--cl-accent-400);
  --co-bp3__control-indicator--checked: var(--cl-gray-900);
  --bc-bp3__control-indicator--checked-hover: var(--cl-accent-400);
  --sd-bp3__control-indicator--checked-hover: 0px 0px 0px 1px var(--cl-accent-400);
  --bc-bp3__control-indicator--hover: var(--cl-gray-150);
  --bc-bp3__control-indicator: var(--cl-white);
  --bi-bp3__control-indicator: transparent;
  --bt-bp3__control-indicator: transparent;
  --br-bp3__control-indicator: transparent;
  --bb-bp3__control-indicator: transparent;
  --bl-bp3__control-indicator: transparent;
  --sd-bp3__control-indicator: 0px 0px 0px 1px var(--cl-gray-300);
  --bi-bp3__control-radio-indicator-input-before--checked: radial-gradient(#fff,#fff 28%,transparent 32%);
  --op-bp3__control-radio-indicator-input-before--checked-disabled: 0.5;
  --bc-bp3__control-switch-indicator--hover: rgba(115,134,148,0.5);
  --bt-bp3__control-switch-indicator: transparent;
  --br-bp3__control-switch-indicator: transparent;
  --bb-bp3__control-switch-indicator: transparent;
  --bl-bp3__control-switch-indicator: transparent;
  --bd-bp3__control-switch-indicator: 1.75em;
  --sd-bp3__control-switch-indicator: none;
  --sd-bp3__control-switch-indicator-before--checked: rgba(115,134,148,.5);
  --bc-bp3__control-switch-indicator-before: var(--cl-white);
  --sd-bp3__control-switch-indicator-before: 0 0 0 1px rgba(16,22,26,0.2),0 1px 1px rgba(16,22,26,0.2);
  --bc-bp3__control-switch-indicator-input--checked: var(--cl-accent-400);
  --bc-bp3__control-switch-indicator-input--checked-active: var(--cl-accent-500);
  --bc-bp3__control-switch-indicator-input--checked-disabled: rgba(19,124,189,0.5);
  --bc-bp3__control-switch-indicator-input--checked-hover: var(--cl-accent-400);
  --bc-bp3__control-switch-indicator-input: rgba(167,182,194,.5);
  --bc-bp3__control-switch-indicator-input-before--checked-disabled: rgba(255,255,255,0.8);
  --bc-bp3__datepicker: var(--cl-white);
  --bd-bp3__datepicker: 3px;
  --bc-bp3__datepicker-day--hover: var(--cl-accent-500);
  --co-bp3__datepicker-day--hover: var(--cl-white);
  --bc-bp3__datepicker-day-outside--hover: transparent;
  --bc-bp3__datepicker-day-selected--hover: var(--cl-accent-600);
  --bc-bp3__datepicker-day-selected: var(--cl-accent-500);
  --co-bp3__datepicker-day-selected: var(--cl-white);
  --bt-bp3__datepicker-today: 1px solid rgba(16,22,26,.15);
  --br-bp3__datepicker-today: 1px solid rgba(16,22,26,.15);
  --bb-bp3__datepicker-today: 1px solid rgba(16,22,26,.15);
  --bl-bp3__datepicker-today: 1px solid rgba(16,22,26,.15);
  --co-bp3__datepicker-weeknumber: rgba(92,112,128,.6);
  --br-bp3__datepicker-weeknumber: 1px solid rgba(16,22,26,.15);
  --fs-bp3__datepicker-weeknumber: 1rem;
  --bc-bp3__dialog: var(--cl-gray-150);
  --sd-bp3__dialog: 0 0 0 1px rgba(16,22,26,0.1),0 4px 8px rgba(16,22,26,0.2),0 18px 46px 6px rgba(16,22,26,0.2);
  --br-bp3__divider: 1px solid rgba(16,22,26,0.15);
  --bb-bp3__divider: 1px solid rgba(16,22,26,0.15);
  --sd-bp3__elevation-0: 0 0 0 1px rgba(16,22,26,0.15),0 0 0 rgba(16,22,26,0),0 0 0 rgba(16,22,26,0);
  --sd-bp3__elevation-1: 0 0 0 1px rgba(16,22,26,0.1),0 0 0 rgba(16,22,26,0),0 1px 1px rgba(16,22,26,0.2);
  --sd-bp3__elevation-2: 0 0 0 1px rgba(16,22,26,0.1),0 1px 1px rgba(16,22,26,0.2),0 2px 6px rgba(16,22,26,0.2);
  --sd-bp3__elevation-3: 0 0 0 1px rgba(16,22,26,0.1),0 2px 4px rgba(16,22,26,0.2),0 8px 24px rgba(16,22,26,0.2);
  --sd-bp3__elevation-4: 0 0 0 1px rgba(16,22,26,0.1),0 4px 8px rgba(16,22,26,0.2),0 18px 46px 6px rgba(16,22,26,0.2);
  --bc-bp3__file-upload-input: var(--cl-white);
  --bt-bp3__file-upload-input: transparent;
  --br-bp3__file-upload-input: transparent;
  --bb-bp3__file-upload-input: transparent;
  --bl-bp3__file-upload-input: transparent;
  --bd-bp3__file-upload-input: 3px;
  --sd-bp3__file-upload-input: 0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),inset 0 0 0 1px rgba(16,22,26,.15),inset 0 1px 1px rgba(16,22,26,.2);
  --co-bp3__file-upload-input: var(--cl-gray-900);
  --fs-bp3__file-upload-input: 0.95rem;
  --bc-bp3__file-upload-input-button--active: var(--cl-gray-250);
  --bi-bp3__file-upload-input-button--active: transparent;
  --sd-bp3__file-upload-input-button--active: inset 0 0 0 1px rgba(16,22,26,.2),inset 0 1px 2px rgba(16,22,26,.2);
  --co-bp3__file-upload-input-button--active: var(--cl-gray-900);
  --bc-bp3__file-upload-input-button--hover: var(--cl-gray-150);
  --sd-bp3__file-upload-input-button--hover: inset 0 0 0 1px rgba(16,22,26,.2),inset 0 -1px 0 rgba(16,22,26,.1);
  --co-bp3__file-upload-input-button--hover: var(--cl-gray-900);
  --bc-bp3__file-upload-input-button: var(--cl-gray-100);
  --bi-bp3__file-upload-input-button: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
  --bd-bp3__file-upload-input-button: 3px;
  --sd-bp3__file-upload-input-button: inset 0 0 0 1px rgba(16,22,26,.2),inset 0 -1px 0 rgba(16,22,26,.1);
  --co-bp3__file-upload-input-button: var(--cl-gray-900);
  --co-bp3__heading: var(--cl-gray-900);
  --bc-bp3__html-select--hover: var(--cl-gray-150);
  --co-bp3__html-select--hover: var(--cl-gray-900);
  --bc-bp3__html-select: transparent;
  --sd-bp3__html-select: none;
  --co-bp3__html-select: unset;
  --co-bp3__html-select-icon: var(--cl-gray-500);
  --sd-bp3__input--focus: 0px 0px 0px 2px var(--cl-accent-500);
  --bc-bp3__input: var(--cl-white);
  --bt-bp3__input: transparent;
  --br-bp3__input: transparent;
  --bb-bp3__input: transparent;
  --bl-bp3__input: transparent;
  --bd-bp3__input: 3px;
  --sd-bp3__input: 0px 0px 0px 1px var(--cl-gray-300);
  --co-bp3__input: var(--cl-gray-900);
  --fs-bp3__input: 1rem;
  --fw-bp3__input: 400;
  --co-bp3__input-group-icon: var(--cl-gray-500);
  --co-bp3__input-placeholder: var(--cl-gray-500);
  --bd-bp3__input-search: 5px;
  --bc-bp3__menu: var(--cl-gray-225);
  --bd-bp3__menu: 5px;
  --co-bp3__menu: var(--cl-gray-900);
  --fs-bp3__menu: ;
  --bc-bp3__menu-item--active: rgba(115,134,148,.3);
  --bc-bp3__menu-item--hover: var(--cl-gray-400);
  --bb-bp3__menu-item--hover: transparent;
  --co-bp3__menu-item--hover: var(--cl-white);
  --bb-bp3__menu-item: transparent;
  --bd-bp3__menu-item: 5px;
  --co-bp3__menu-item-icon--hover: var(--cl-white);
  --co-bp3__menu-item-icon: var(--cl-gray-900);
  --fl-bp3__menu-item-icon-svg--hover: var(--cl-white);
  --fl-bp3__menu-item-icon-svg: var(--cl-gray-900);
  --bc-bp3__menu-item-intent-primary--active: var(--cl-blue-700);
  --co-bp3__menu-item-intent-primary: var(--cl-blue-800);
  --co-bp3__menu-item-label--hover: var(--cl-white);
  --co-bp3__menu-item-label: var(--cl-gray-500);
  --bd-bp3__popover: 5px;
  --sd-bp3__popover: 0px 0px 0px 1px rgba(0,0,0,.1), 3px 3px 11px 3px rgba(0,0,0,0.1);
  --sd-bp3__popover-arrow: none;
  --fl-bp3__popover-arrow-border: transparent;
  --fl-bp3__popover-arrow-fill: transparent;
  --bc-bp3__popover-content: var(--cl-gray-225);
  --bd-bp3__popover-content: 5px;
  --bc-bp3__slider-handle--hover: ;
  --bc-bp3__slider-handle: var(--cl-gray-100);
  --bi-bp3__slider-handle: transparent;
  --bd-bp3__slider-handle: 3px;
  --sd-bp3__slider-handle: 0 0 0 1px rgba(16,22,26,.2),0 1px 1px rgba(16,22,26,.2);
  --co-bp3__slider-handle: var(--cl-gray-900);
  --bc-bp3__slider-handle-label: var(--cl-gray-500);
  --bd-bp3__slider-handle-label: 3px;
  --sd-bp3__slider-handle-label: 0 0 0 1px rgba(16,22,26,.1),0 2px 4px rgba(16,22,26,.2),0 8px 24px rgba(16,22,26,.2);
  --co-bp3__slider-handle-label: var(--cl-white);
  --bc-bp3__slider-progress: var(--cl-gray-300);
  --bc-bp3__slider-progress-intent-primary: var(--cl-accent-500);
  --co-bp3__tab--hover: var(--cl-gray-900);
  --sd-bp3__tab--selected: inset 0 -3px 0 var(--cl-gray-300);
  --co-bp3__tab--selected: var(--cl-gray-900);
  --fw-bp3__tab--selected: bold;
  --co-bp3__tab: var(--cl-gray-900);
  --bc-bp3__tab-vertical--selected: var(--cl-gray-150);
  --sd-bp3__tab-vertical--selected: none;
  --co-bp3__tab-vertical--selected: var(--cl-gray-900);
  --bc-bp3__tab-vertical-indicator: transparent;
  --bd-bp3__tab-vertical-indicator: 3px;
  --bc-bp3__tag: var(--cl-gray-600);
  --bt-bp3__tag: transparent;
  --br-bp3__tag: transparent;
  --bb-bp3__tag: transparent;
  --bl-bp3__tag: transparent;
  --bd-bp3__tag: 3px;
  --sd-bp3__tag: none;
  --co-bp3__tag: var(--cl-gray-100);
  --fs-bp3__tag: 0.9rem;
  --bc-bp3__tooltip: var(--cl-gray-225);
  --co-bp3__tooltip: var(--cl-gray-900);
  --sd-bp3__tooltip-arrow: none;
  --fl-bp3__tooltip-arrow-border: transparent;
  --fl-bp3__tooltip-arrow-fill: transparent;
  --co-bp3__tooltip-heading: var(--cl-gray-100);
  --bc-codeblock__active-line-gutter--focus: var(--cl-gray-250);
  --bc-codeblock__active-line-gutter: var(--cl-gray-200);
  --co-codeblock__atom: var(--cl-cyan-900);
  --co-codeblock__className: var(--cl-teal-800);
  --co-codeblock__comment: var(--cl-yellow-800);
  --bl-codeblock__cursor: 3px solid var(--cl-accent-700);
  --co-codeblock__definition: var(--cl-cyan-800);
  --bc-codeblock__gutters: var(--cl-gray-200);
  --co-codeblock__gutters: var(--cl-gray-500);
  --co-codeblock__keyword: var(--cl-fuchsia-800);
  --co-codeblock__label: ;
  --co-codeblock__number: var(--cl-teal-800);
  --bc-codeblock__selection--focus: var(--cl-accent-300);
  --bc-codeblock__selection: var(--cl-gray-300);
  --co-codeblock__string: var(--cl-amber-800);
  --co-codeblock__typename: var(--cl-green-700);
  --co-codeblock__variable: var(--cl-blue-600);
  --bc-codeblock: var(--cl-gray-200);
  --bd-codeblock: ;
  --sd-codeblock: none;
  --co-codeblock: var(--cl-gray-900);
  --fs-codeblock: ;
  --bc-command-palette__footer: var(--cl-white);
  --bt-command-palette__footer: 1px solid var(--cl-gray-200);
  --bc-command-palette__menu-item--active: var(--cl-accent-500);
  --co-command-palette__menu-item--active: var(--cl-white);
  --bd-command-palette__menu-item: 5px;
  --co-command-palette__shortcut--active: var(--cl-white);
  --bc-command-palette__shortcut: transparent;
  --co-command-palette__shortcut: var(--cl-gray-500);
  --bc-control__bullet-closed-inner: var(--cl-gray-900);
  --bt-control__bullet-closed-inner: 4px solid var(--cl-gray-500);
  --br-control__bullet-closed-inner: 4px solid var(--cl-gray-500);
  --bb-control__bullet-closed-inner: 4px solid var(--cl-gray-500);
  --bl-control__bullet-closed-inner: 4px solid var(--cl-gray-500);
  --bc-control__bullet-ghost: var(--cl-gray-500);
  --bc-control__bullet-inner: var(--cl-gray-900);
  --br-control__multibar--hover: 3px solid var(--cl-gray-400);
  --br-control__multibar: 1px solid var(--cl-gray-300);
  --co-daily__preview: var(--cl-gray-500);
  --ff-daily__preview: "iA Writer Quattro S";
  --fs-daily__preview: 1.4rem;
  --fw-daily__preview: bold;
  --co-datepicker__day-today--hover: var(--cl-white);
  --co-datepicker__day-today--selected: var(--cl-white);
  --fw-datepicker__day-today--selected: bold;
  --co-datepicker__day-today--selected-hover: var(--cl-white);
  --co-datepicker__day-today: var(--cl-accent-500);
  --fw-datepicker__day-today: bold;
  --co-datepicker__day-without-journal--hover: var(--cl-white);
  --co-datepicker__day-without-journal: var(--cl-gray-500);
  --sd-dialog__confirmation-button: none;
  --bc-dialog__confirmation-cancel-button--active: #d0d0d0;
  --sd-dialog__confirmation-cancel-button--active: none;
  --co-dialog__confirmation-cancel-button--active: var(--cl-gray-900);
  --bc-dialog__confirmation-cancel-button--hover: #dcdcdc;
  --sd-dialog__confirmation-cancel-button--hover: none;
  --bc-dialog__confirmation-cancel-button: #dcdcdc;
  --bt-dialog__confirmation-cancel-button: transparent;
  --br-dialog__confirmation-cancel-button: transparent;
  --bb-dialog__confirmation-cancel-button: transparent;
  --bl-dialog__confirmation-cancel-button: transparent;
  --sd-dialog__confirmation-cancel-button: none;
  --co-dialog__confirmation-cancel-button: #414141;
  --bc-emoji-mart__anchor--hover: ;
  --bi-emoji-mart__anchor--hover: ;
  --bt-emoji-mart__anchor--hover: ;
  --br-emoji-mart__anchor--hover: ;
  --bb-emoji-mart__anchor--hover: ;
  --bl-emoji-mart__anchor--hover: ;
  --bd-emoji-mart__anchor--hover: ;
  --sd-emoji-mart__anchor--hover: ;
  --co-emoji-mart__anchor--hover: ;
  --fl-emoji-mart__anchor--selected: var(--cl-accent-500);
  --bc-emoji-mart__anchor: ;
  --bi-emoji-mart__anchor: ;
  --bt-emoji-mart__anchor: ;
  --br-emoji-mart__anchor: ;
  --bb-emoji-mart__anchor: ;
  --bl-emoji-mart__anchor: ;
  --bd-emoji-mart__anchor: ;
  --sd-emoji-mart__anchor: ;
  --co-emoji-mart__anchor: ;
  --bc-emoji-mart__anchor-bar--selected: ;
  --fl-emoji-mart__anchor-icon: ;
  --bb-emoji-mart__bar--first-child: transparent;
  --bt-emoji-mart__bar: transparent;
  --bc-emoji-mart__category-label: var(--cl-gray-225);
  --fs-emoji-mart__category-label: ;
  --bc-emoji-mart__emoji--hover: ;
  --bi-emoji-mart__emoji--hover: ;
  --bt-emoji-mart__emoji--hover: ;
  --br-emoji-mart__emoji--hover: ;
  --bb-emoji-mart__emoji--hover: ;
  --bl-emoji-mart__emoji--hover: ;
  --bd-emoji-mart__emoji--hover: ;
  --sd-emoji-mart__emoji--hover: ;
  --co-emoji-mart__emoji--hover: ;
  --bc-emoji-mart__emoji: ;
  --bi-emoji-mart__emoji: ;
  --bt-emoji-mart__emoji: ;
  --br-emoji-mart__emoji: ;
  --bb-emoji-mart__emoji: ;
  --bl-emoji-mart__emoji: ;
  --bd-emoji-mart__emoji: ;
  --sd-emoji-mart__emoji: ;
  --co-emoji-mart__emoji: ;
  --bc-emoji-mart__emoji-before--hover: var(--cl-gray-400);
  --bc-emoji-mart__search-icon: ;
  --bi-emoji-mart__search-icon: ;
  --fl-emoji-mart__search-icon: var(--cl-gray-500);
  --bt-emoji-mart__search-icon: ;
  --br-emoji-mart__search-icon: ;
  --bb-emoji-mart__search-icon: ;
  --bl-emoji-mart__search-icon: ;
  --bd-emoji-mart__search-icon: ;
  --sd-emoji-mart__search-icon: ;
  --co-emoji-mart__search-icon: ;
  --sd-emoji-mart__search-input--focus: 0px 0px 0px 2px var(--cl-accent-500);
  --bc-emoji-mart__search-input: var(--cl-white);
  --bt-emoji-mart__search-input: transparent;
  --br-emoji-mart__search-input: transparent;
  --bb-emoji-mart__search-input: transparent;
  --bl-emoji-mart__search-input: transparent;
  --bd-emoji-mart__search-input: 3px;
  --sd-emoji-mart__search-input: 0px 0px 0px 1px var(--cl-gray-300);
  --co-emoji-mart__search-input: var(--cl-gray-900);
  --fs-emoji-mart__search-input: 1rem;
  --fw-emoji-mart__search-input: 400;
  --co-emoji-mart__search-input-placeholder: ;
  --bc-emoji-mart: ;
  --bt-emoji-mart: ;
  --br-emoji-mart: ;
  --bb-emoji-mart: ;
  --bl-emoji-mart: ;
  --bd-emoji-mart: ;
  --co-emoji-mart: ;
  --bc-extensions__extension-small--hover: ;
  --co-extensions__extension-small-description: var(--cl-gray-900);
  --co-extensions__extension-small-downloads: var(--cl-gray-900);
  --co-extensions__full-desc: var(--cl-gray-900);
  --co-extensions__full-downloads: var(--cl-gray-900);
  --co-extensions__full-stats: var(--cl-gray-900);
  --bc-extensions__input--focus: var(--cl-white);
  --sd-extensions__input--focus: 0px 0px 0px 2px var(--cl-accent-500);
  --bc-extensions__input: var(--cl-white);
  --bt-extensions__input: transparent;
  --br-extensions__input: transparent;
  --bb-extensions__input: transparent;
  --bl-extensions__input: transparent;
  --bd-extensions__input: 3px;
  --sd-extensions__input: 0px 0px 0px 1px var(--cl-gray-300);
  --co-extensions__input: var(--cl-gray-900);
  --fs-extensions__input: 1rem;
  --fw-extensions__input: 400;
  --co-extensions__input-placeholder: var(--cl-gray-500);
  --bc-extensions__marketplace: var(--cl-gray-100);
  --bd-extensions__marketplace: 3px;
  --co-extensions__marketplace: var(--cl-gray-900);
  --bc-extensions__marketplace-details: var(--cl-gray-100);
  --bc-extensions__marketplace-details-thumb: var(--cl-gray-500);
  --bc-extensions__marketplace-details-track: var(--cl-gray-100);
  --bc-extensions__marketplace-search: var(--cl-white);
  --bc-extensions__search-results-scrollbar-thumb: var(--cl-gray-500);
  --bc-extensions__search-results-scrollbar-track: var(--cl-white);
  --co-filter__helper-text: var(--cl-gray-500);
  --bc-find-or-create__highlight: #ffff54;
  --co-find-or-create__highlight: var(--cl-gray-900);
  --co-find-or-create__label--selected: var(--cl-white);
  --co-find-or-create__label: var(--cl-green-900);
  --bc-find-or-create__menu-item--selected: var(--cl-accent-500);
  --co-find-or-create__menu-item--selected: var(--cl-white);
  --co-find-or-create__search-list-item--selected: var(--cl-white);
  --co-find-or-create__search-list-item: var(--cl-gray-900);
  --bc-help__category-menu-item--hover: var(--cl-gray-150);
  --bc-help__category-menu-item--selected: var(--cl-gray-150);
  --co-help__category-menu-item--selected: var(--cl-gray-900);
  --bd-help__category-menu-item: 5px;
  --co-help__category-name: var(--cl-gray-900);
  --fs-help__category-name: 1rem;
  --tt-help__category-name: normal;
  --co-help__component-description: var(--cl-gray-900);
  --bc-help__component-notation: var(--cl-gray-200);
  --sd-help__component-notation: none;
  --co-help__component-notation: var(--cl-gray-900);
  --co-help__component-title: var(--cl-gray-900);
  --co-help__function-markdown: var(--cl-gray-900);
  --co-help__function-name: var(--cl-gray-900);
  --fs-help__function-name: 1rem;
  --bt-help__hr: transparent;
  --co-help__markdown: var(--cl-gray-900);
  --bc-help__resource--hover: var(--cl-gray-200);
  --bd-help__resource: 5px;
  --co-help__resource-description: var(--cl-gray-900);
  --fs-help__resource-description: 1rem;
  --bc-help__resource-icon: var(--cl-gray-250);
  --co-help__resource-icon: var(--cl-gray-900);
  --co-help__resource-title: var(--cl-gray-900);
  --fs-help__resource-title: 1rem;
  --co-help__search-icon: var(--cl-gray-500);
  --bt-help__search-icon-container: transparent;
  --br-help__search-icon-container: transparent;
  --bb-help__search-icon-container: transparent;
  --bl-help__search-icon-container: transparent;
  --bc-help__search-input--focus: var(--cl-white);
  --sd-help__search-input--focus: 0px 0px 0px 2px var(--cl-accent-500);
  --bc-help__search-input: var(--cl-white);
  --bt-help__search-input: transparent;
  --br-help__search-input: transparent;
  --bb-help__search-input: transparent;
  --bl-help__search-input: transparent;
  --bd-help__search-input: 3px;
  --sd-help__search-input: 0px 0px 0px 1px var(--cl-gray-300);
  --co-help__search-input: var(--cl-gray-900);
  --fs-help__search-input: 1rem;
  --fw-help__search-input: 400;
  --co-help__search-input-placeholder: var(--cl-gray-500);
  --co-help__title: var(--cl-gray-900);
  --bb-html__a--hover: 1px solid var(--cl-gray-900);
  --co-html__a--hover: var(--cl-gray-900);
  --td-html__a--hover: none;
  --bb-html__a: 1px solid var(--cl-gray-900);
  --co-html__a: var(--cl-gray-900);
  --td-html__a: none;
  --bc-html__body: var(--cl-white);
  --co-html__body: var(--cl-gray-900);
  --ff-html__body: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --fs-html__body: 14px;
  --bc-html__button--active: #d0d0d0;
  --bi-html__button--active: transparent;
  --sd-html__button--active: inset 0 0 0 1px rgba(16,22,26,0.2),inset 0 1px 2px rgba(16,22,26,0.2);
  --co-html__button--active: #414141;
  --bc-html__button--disabled: transparent;
  --bi-html__button--disabled: transparent;
  --sd-html__button--disabled: none;
  --co-html__button--disabled: var(--cl-gray-500);
  --bc-html__button--disabled-active: transparent;
  --bc-html__button--hover: #dcdcdc;
  --sd-html__button--hover: none;
  --co-html__button--hover: #414141;
  --bc-html__button: #dcdcdc;
  --bi-html__button: transparent;
  --bt-html__button: transparent;
  --br-html__button: transparent;
  --bb-html__button: transparent;
  --bl-html__button: transparent;
  --bd-html__button: 5px;
  --sd-html__button: none;
  --co-html__button: #414141;
  --ff-html__div: 1rem;
  --bc-html__highlight: #ffff54;
  --co-html__highlight: var(--cl-gray-900);
  --sd-html__input--focus: 0px 0px 0px 2px var(--cl-accent-500);
  --bc-html__input: transparent;
  --bt-html__input: transparent;
  --br-html__input: transparent;
  --bb-html__input: transparent;
  --bl-html__input: transparent;
  --bd-html__input: 3px;
  --sd-html__input: 0px 0px 0px 1px var(--cl-gray-900);
  --co-html__input: var(--cl-gray-900);
  --fs-html__input: 1rem;
  --fw-html__input: normal;
  --bc-html__selection: var(--cl-accent-300);
  --co-left-sidebar__db-title: var(--cl-gray-900);
  --fw-left-sidebar__db-title: normal;
  --co-left-sidebar__expand-icon: var(--cl-gray-500);
  --sd-left-sidebar__graph-dropdown: 0px 0px 0px 1px rgba(0,0,0,.1), 3px 3px 11px 3px rgba(0,0,0,0.1);
  --fs-left-sidebar__graph-dropdown: 1rem;
  --fw-left-sidebar__graph-dropdown: 400;
  --op-left-sidebar__graph-dropdown: 1;
  --co-left-sidebar__graph-dropdown-a--hover: var(--cl-gray-900);
  --co-left-sidebar__graph-dropdown-a: var(--cl-gray-900);
  --co-left-sidebar__graph-dropdown-menu-title: var(--cl-gray-900);
  --fs-left-sidebar__graph-dropdown-menu-title: 1rem;
  --bc-left-sidebar__graph-dropdown-settings--hover: var(--cl-gray-400);
  --co-left-sidebar__graph-dropdown-settings--hover: var(--cl-white);
  --bc-left-sidebar__graph-dropdown-settings: transparent;
  --co-left-sidebar__graph-dropdown-settings-icon--hover: var(--cl-white);
  --co-left-sidebar__graph-dropdown-settings-icon: var(--cl-gray-900);
  --fs-left-sidebar__graph-dropdown-sign-out: 1rem;
  --op-left-sidebar__graph-dropdown-sign-out: 1;
  --co-left-sidebar__icon--hover: var(--cl-gray-900);
  --co-left-sidebar__icon: var(--cl-gray-900);
  --fs-left-sidebar__icon: 1rem;
  --bc-left-sidebar__log-button--hover: transparent;
  --bi-left-sidebar__log-button--hover: transparent;
  --co-left-sidebar__log-button--hover: var(--cl-gray-900);
  --co-left-sidebar__log-button: var(--cl-gray-900);
  --fs-left-sidebar__log-button: 1rem;
  --fw-left-sidebar__log-button: normal;
  --bc-left-sidebar__logo--hover: transparent;
  --co-left-sidebar__logo-text: var(--cl-gray-900);
  --co-left-sidebar__shortcuts-title: var(--cl-gray-900);
  --bc-left-sidebar__starred-page--hover: transparent;
  --co-left-sidebar__starred-page--hover: var(--cl-gray-900);
  --fw-left-sidebar__starred-page--hover: normal;
  --co-left-sidebar__starred-page: var(--cl-gray-900);
  --fs-left-sidebar__starred-page: 1rem;
  --fw-left-sidebar__starred-page: normal;
  --bc-left-sidebar__top-row: var(--cl-white);
  --bb-left-sidebar__top-row: 1px solid var(--cl-gray-225);
  --bc-left-sidebar: var(--cl-gray-100);
  --br-left-sidebar: 1px solid var(--cl-gray-225);
  --sd-left-sidebar: none;
  --ff-left-sidebar: ;
  --bb-main__alias-block--hover: 1px solid var(--cl-gray-900);
  --co-main__alias-block--hover: var(--cl-gray-900);
  --td-main__alias-block--hover: none;
  --bb-main__alias-block: 1px solid var(--cl-gray-900);
  --co-main__alias-block: var(--cl-gray-900);
  --bb-main__alias-external--hover: 1px solid var(--cl-gray-900);
  --co-main__alias-external--hover: var(--cl-gray-900);
  --td-main__alias-external--hover: none;
  --bb-main__alias-external: 1px solid var(--cl-gray-900);
  --co-main__alias-external: var(--cl-gray-900);
  --bb-main__alias-page--hover: 1px solid var(--cl-gray-900);
  --co-main__alias-page--hover: var(--cl-gray-900);
  --td-main__alias-page--hover: none;
  --bb-main__alias-page: 1px solid var(--cl-gray-900);
  --co-main__alias-page: var(--cl-gray-900);
  --bl-main__alias-tooltip-content-bq: transparent;
  --co-main__alias-tooltip-content-bq: var(--cl-gray-900);
  --co-main__block-ghost: var(--cl-gray-500);
  --bc-main__block-ref--hover: transparent;
  --bb-main__block-ref: 1px dotted var(--cl-gray-300);
  --co-main__block-view-comment-card-display-name: var(--cl-gray-900);
  --co-main__block-view-comment-card-editing-time: var(--cl-gray-900);
  --bc-main__block-view-group: ;
  --bl-main__block-view-group-border: ;
  --bc-main__block-view-group-view: ;
  --co-main__block-view-group-view: ;
  --fs-main__block-view-group-view: ;
  --bc-main__block-view-horizontal: transparent;
  --bc-main__block-view-side: transparent;
  --bt-main__block-view-side-children: transparent;
  --br-main__block-view-side-children: transparent;
  --bb-main__block-view-side-children: transparent;
  --bl-main__block-view-side-children: transparent;
  --bt-main__block-view-vertical: transparent;
  --br-main__block-view-vertical: 4px solid var(--cl-gray-300);
  --bb-main__block-view-vertical: transparent;
  --bl-main__block-view-vertical: transparent;
  --bc-main__blockquote: transparent;
  --bl-main__blockquote: 2px solid var(--cl-gray-500);
  --co-main__blockquote: var(--cl-gray-900);
  --fs-main__blockquote: 1rem;
  --co-main__brackets: var(--cl-gray-400);
  --bc-main__checkbox--checked: ;
  --bi-main__checkbox--checked: ;
  --sd-main__checkbox--checked: ;
  --bc-main__checkbox: ;
  --bi-main__checkbox: ;
  --bt-main__checkbox: ;
  --br-main__checkbox: ;
  --bb-main__checkbox: ;
  --bl-main__checkbox: ;
  --sd-main__checkbox: ;
  --bc-main__code: var(--cl-gray-250);
  --bt-main__code: transparent;
  --br-main__code: transparent;
  --bb-main__code: transparent;
  --bl-main__code: transparent;
  --bd-main__code: 3px;
  --sd-main__code: none;
  --co-main__code: var(--cl-gray-900);
  --co-main__diagram-empty-node: ;
  --bc-main__embed-container: var(--cl-gray-250);
  --bc-main__embed-container-1: var(--cl-gray-200);
  --bc-main__embed-container-2: var(--cl-gray-250);
  --bc-main__embed-container-3: var(--cl-gray-200);
  --bc-main__embed-container-4: var(--cl-gray-250);
  --bc-main__embed-container-5: var(--cl-gray-200);
  --bc-main__embed-container-6: var(--cl-gray-250);
  --bc-main__embed-container-7: var(--cl-gray-200);
  --bc-main__embed-container-8: var(--cl-gray-250);
  --bc-main__embed-container-9: var(--cl-gray-200);
  --bt-main__embed-content-references: ;
  --bc-main__embed-page: var(--cl-gray-250);
  --bc-main__embed-page-margin-action: var(--cl-gray-250);
  --op-main__embed-page-margin-action: 1;
  --bc-main__embed-path: transparent;
  --bc-main__encrypted-block: var(--cl-gray-200);
  --co-main__encrypted-block: var(--cl-gray-500);
  --fs-main__encrypted-block: 1em;
  --co-main__heading-level-1: var(--cl-gray-900);
  --ff-main__heading-level-1: ;
  --fs-main__heading-level-1: 1em;
  --fw-main__heading-level-1: bold;
  --co-main__heading-level-2: var(--cl-gray-900);
  --ff-main__heading-level-2: ;
  --fs-main__heading-level-2: 1em;
  --fw-main__heading-level-2: bold;
  --co-main__heading-level-3: var(--cl-gray-900);
  --ff-main__heading-level-3: ;
  --fs-main__heading-level-3: 1em;
  --fw-main__heading-level-3: bold;
  --bc-main__help-popup: ;
  --bc-main__highlight: ;
  --bc-main__highlight-blue: var(--cl-accent-300);
  --bc-main__inline-references: ;
  --bc-main__kanban-board: ;
  --bc-main__kanban-card: ;
  --bc-main__kanban-column: ;
  --bb-main__kanban-title: ;
  --co-main__namespace: ;
  --ft-main__namespace: ;
  --bc-main__option--hover: ;
  --sd-main__option--hover: ;
  --co-main__option--hover: ;
  --bc-main__option: ;
  --bi-main__option: ;
  --bt-main__option: ;
  --br-main__option: ;
  --bb-main__option: ;
  --bl-main__option: ;
  --bd-main__option: ;
  --sd-main__option: ;
  --co-main__option: ;
  --bt-main__option-arrow--hover: ;
  --bt-main__option-arrow: ;
  --bb-main__page-ref-link: 1px solid var(--cl-gray-400);
  --co-main__page-ref-link: var(--cl-gray-900);
  --bc-main__parenthicals--hover: ;
  --bc-main__parenthicals: ;
  --bt-main__parenthicals: ;
  --br-main__parenthicals: ;
  --bb-main__parenthicals: ;
  --bl-main__parenthicals: ;
  --bd-main__parenthicals: ;
  --bc-main__pomodoro: ;
  --bt-main__pomodoro: ;
  --br-main__pomodoro: ;
  --bb-main__pomodoro: ;
  --bl-main__pomodoro: ;
  --bd-main__pomodoro: ;
  --co-main__pomodoro: ;
  --bt-main__query: ;
  --br-main__query: ;
  --bb-main__query: ;
  --bl-main__query: ;
  --bc-main__query-title: ;
  --bb-main__query-title: ;
  --co-main__query-title: ;
  --co-main__query-error: ;
  --bc-main__ref-count--active: ;
  --co-main__ref-count--active: ;
  --co-main__reference-keyprompt: ;
  --fs-main__reference-keyprompt: ;
  --op-main__reference-keyprompt: ;
  --bt-main__roam-table: ;
  --br-main__roam-table: ;
  --bb-main__roam-table: ;
  --bl-main__roam-table: ;
  --bc-main__streak-day-0: ;
  --bc-main__streak-day-1: ;
  --bc-main__streak-day-2: ;
  --bc-main__streak-day-3: ;
  --bc-main__streak-day-4: ;
  --bc-main__streak-error: ;
  --co-main__streak-weekday: ;
  --co-main__streak-month: ;
  --bb-main__tab-list: ;
  --co-main__tag: ;
  --fs-main__title: 1.4rem;
  --fw-main__title: bold;
  --co-main__title: var(--cl-gray-900);
  --bb-main__version-choice: ;
  --bb-main__version-bullet--selected: ;
  --sd-main__version-bullet--selected: ;
  --bc-main__version-bullet: ;
  --bt-main__version-bullet: ;
  --br-main__version-bullet: ;
  --bb-main__version-bullet: ;
  --bl-main__version-bullet: ;
  --op-main__video-comment: ;
  --co-main__zoom-item: var(--cl-gray-500);
  --bc-main__zoom-mask: ;
  --fs-main__zoom-path: 1em;
  --bc-main: var(--cl-gray-100);
  --ff-main: "iA Writer Quattro S";
  --fs-main: 15px;
  --bc-menu__button--active: ;
  --bi-menu__button--active: ;
  --sd-menu__button--active: ;
  --bc-menu__button--hover: ;
  --bi-menu__button--hover: ;
  --sd-menu__button--hover: ;
  --co-menu__button--hover: ;
  --bc-menu__button: ;
  --bi-menu__button: ;
  --bt-menu__button: ;
  --br-menu__button: ;
  --bb-menu__button: ;
  --bl-menu__button: ;
  --bd-menu__button: ;
  --sd-menu__button: ;
  --co-menu__button: ;
  --co-menu__button-icon: ;
  --co-reference__filter-icon--active: ;
  --bc-reference__item: ;
  --co-reference__linked-unlinked-title: ;
  --bc-reference__nested-refs: ;
  --bt-reference__nested-refs: ;
  --br-reference__nested-refs: ;
  --bb-reference__nested-refs: ;
  --bl-reference__nested-refs: ;
  --bd-reference__nested-refs: ;
  --td-reference__page-view-title--hover: ;
  --fw-reference__page-view-title: ;
  --bc-reference__search-input--focus: ;
  --bc-reference__search-input: ;
  --co-right-sidebar__helper-text: var(--cl-gray-500);
  --fs-right-sidebar__title: ;
  --fw-right-sidebar__title: ;
  --bb-right-sidebar__window: ;
  --bc-right-sidebar: var(--cl-white);
  --bl-right-sidebar: 1px solid var(--cl-gray-225);
  --sd-right-sidebar: ;
  --ff-right-sidebar: ;
  --co-roam__datepicker-day-nopage: ;
  --co-roam__datepicker-today: ;
  --co-roam__datepicker-today-selected: ;
  --bc-roam__install-button--hover: var(--cl-accent-500);
  --co-roam__install-button--hover: var(--cl-white);
  --bc-roam__install-button: var(--cl-gray-500);
  --bt-roam__install-button: transparent;
  --br-roam__install-button: transparent;
  --bb-roam__install-button: transparent;
  --bl-roam__install-button: transparent;
  --co-roam__install-button: var(--cl-white);
  --bc-roam__modal-dialog: var(--cl-gray-100);
  --bc-roam-css-code__active: ;
  --co-roam-css-code__active: ;
  --bc-roam-css-code__active-button--hover: ;
  --sd-roam-css-code__active-button--hover: ;
  --co-roam-css-code__active-button--hover: ;
  --bc-roam-css-code__active-button: ;
  --bi-roam-css-code__active-button: ;
  --sd-roam-css-code__active-button: ;
  --co-roam-css-code__active-button: ;
  --co-roam-css-code__active-description: ;
  --fs-roam-css-code__active-description: ;
  --fw-roam-css-code__active-description: ;
  --bc-roam-css-code__inactive: ;
  --co-roam-css-code__inactive: ;
  --bc-roam-css-code__inactive-button--hover: ;
  --sd-roam-css-code__inactive-button--hover: ;
  --co-roam-css-code__inactive-button--hover: ;
  --bc-roam-css-code__inactive-button: ;
  --bi-roam-css-code__inactive-button: ;
  --sd-roam-css-code__inactive-button: ;
  --co-roam-css-code__inactive-button: ;
  --co-roam-css-code__inactive-description: ;
  --fs-roam-css-code__inactive-description: ;
  --fw-roam-css-code__inactive-description: ;
  --bb-settings__api-token: ;
  --co-settings__description: ;
  --co-settings__extension-heading: ;
  --fs-settings__extension-heading: ;
  --fw-settings__extension-heading: ;
  --tt-settings__extension-heading: ;
  --bc-settings__extension-settings: ;
  --co-settings__extension-settings: ;
  --co-settings__file-list-item--hover: var(--cl-gray-900);
  --td-settings__file-list-item--hover: ;
  --co-settings__file-list-item: var(--cl-gray-900);
  --td-settings__file-list-item: ;
  --co-settings__heading: ;
  --fs-settings__heading: ;
  --fw-settings__heading: ;
  --tt-settings__heading: ;
  --bc-settings__hotkeys: ;
  --bt-settings__hotkeys-hr: ;
  --bt-settings__hotkeys-section-hr: ;
  --bc-settings__input--focus: ;
  --sd-settings__input--focus: ;
  --bc-settings__input: ;
  --bt-settings__input: ;
  --br-settings__input: ;
  --bb-settings__input: ;
  --bl-settings__input: ;
  --bd-settings__input: ;
  --sd-settings__input: ;
  --co-settings__input: ;
  --fs-settings__input: ;
  --fw-settings__input: ;
  --co-settings__input-placeholder: ;
  --bc-settings__panel-scrollbar-thumb: var(--cl-gray-500);
  --bc-settings__panel-scrollbar-track: var(--cl-gray-100);
  --bt-settings__panel-section: ;
  --bt-settings__panel-section-top: ;
  --bc-settings__select-wrapper: ;
  --bt-settings__select-wrapper: ;
  --br-settings__select-wrapper: ;
  --bb-settings__select-wrapper: ;
  --bl-settings__select-wrapper: ;
  --bd-settings__select-wrapper: ;
  --bc-settings__select-wrapper-button--hover: ;
  --sd-settings__select-wrapper-button--hover: ;
  --co-settings__select-wrapper-button--hover: ;
  --bc-settings__select-wrapper-button: ;
  --bi-settings__select-wrapper-button: ;
  --sd-settings__select-wrapper-button: ;
  --co-settings__select-wrapper-button: ;
  --bt-settings__settings-table: ;
  --br-settings__settings-table: ;
  --bb-settings__settings-table: ;
  --bl-settings__settings-table: ;
  --bc-settings__settings-wrapper: var(--cl-gray-100);
  --bc-settings__tab--hover: var(--cl-gray-150);
  --bc-settings__tab--selected: var(--cl-gray-150);
  --bd-settings__tab--selected: ;
  --co-settings__tab: ;
  --bc-settings__tab-list: ;
  --bc-settings__tab-list-scrollbar-thumb: var(--cl-gray-500);
  --bc-settings__tab-list-scrollbar-track: var(--cl-white);
  --bc-settings__tabs: var(--cl-white);
  --bc-settings: var(--cl-gray-100);
  --co-settings: ;
  --bc-topbar__sync-saving-local: ;
  --bc-topbar__sync-saving-remote: ;
  --bc-topbar__sync-synced: ;
  --bb-topbar: 1px solid var(--cl-gray-225);
  --co-zoom-path__item: ;
}