#roam-sidebar-logo img {
  filter: invert(22%) sepia(12%) saturate(302%) hue-rotate(164deg) brightness(90%) contrast(92%);
}

.rm-help-resource__icon img {
  filter: saturate(0%) brightness(500%);
}

.rm-spacer svg path {
  fill: var(--cl-gray-300);
}