:root {
  --co-allpages__children-text: var(--cl-gray-450);
  --bc-allpages__clickable-pill: var(--cl-blue-900);
  --co-allpages__clickable-pill: var(--cl-gray-100);
  --op-allpages__clickable-pill: 1;
  --bc-allpages__clickable-pill-empty: var(--cl-gray-700);
  --co-allpages__clickable-pill-empty: var(--cl-gray-100);
  --op-allpages__clickable-pill-empty: 1;
  --bc-allpages__clickable-pill-level1: var(--cl-blue-800);
  --co-allpages__clickable-pill-level1: var(--cl-gray-100);
  --op-allpages__clickable-pill-level1: 1;
  --bc-allpages__clickable-pill-level2: var(--cl-blue-700);
  --co-allpages__clickable-pill-level2: var(--cl-gray-100);
  --op-allpages__clickable-pill-level2: 1;
  --bc-allpages__clickable-pill-level3: var(--cl-blue-600);
  --co-allpages__clickable-pill-level3: var(--cl-gray-100);
  --op-allpages__clickable-pill-level3: 1;
  --co-allpages__icon-filtered: var(--cl-blue-500);
  --bt-allpages__input--focus: transparent;
  --br-allpages__input--focus: transparent;
  --bb-allpages__input--focus: transparent;
  --bl-allpages__input--focus: transparent;
  --sd-allpages__input--focus: 0 0 0 1px #137cbd,0 0 0 1px #137cbd,0 0 0 3px rgba(19,124,189,0.3),inset 0 0 0 1px rgba(16,22,26,0.3),inset 0 1px 1px rgba(16,22,26,0.4);
  --bc-allpages__input: rgba(16,22,26,.3);
  --bt-allpages__input: transparent;
  --br-allpages__input: transparent;
  --bb-allpages__input: transparent;
  --bl-allpages__input: transparent;
  --bd-allpages__input: 30px;
  --sd-allpages__input: 0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),inset 0 0 0 1px rgba(16,22,26,.3),inset 0 1px 1px rgba(16,22,26,.4);
  --co-allpages__input: var(--cl-gray-100);
  --fs-allpages__input: 1rem;
  --fw-allpages__input: 400;
  --co-allpages__input-group-icon: var(--cl-gray-450);
  --co-allpages__input-placeholder: rgba(167,182,194,.6);
  --bb-allpages__row: transparent;
  --sd-allpages__row: inset 0 1px 0 0 hsla(0,0%,100%,.15);
  --co-allpages__row: var(--cl-gray-100);
  --bc-allpages__row-header: transparent;
  --bt-allpages__row-header: transparent;
  --bb-allpages__row-header: transparent;
  --bd-allpages__row-header: 0;
  --co-allpages__row-header: var(--cl-gray-100);
  --co-allpages__sort-button-focused: var(--cl-blue-500);
  --co-allpages__sorted-header-text: var(--cl-gray-100);
  --fw-allpages__sorted-header-text: 400;
  --co-allpages__title-col: var(--cl-gray-100);
  --co-allpages__title-text: var(--cl-gray-100);
  --co-app: var(--cl-gray-100);
  --bc-autocomplete__codeblock--hover: var(--cl-gray-750);
  --bc-autocomplete__menu-item--selected: rgba(138,155,168,.3);
  --co-autocomplete__menu-item--selected: var(--cl-gray-100);
  --co-autocomplete__menu-item-shortcut--selected: var(--cl-gray-100);
  --co-autocomplete__new-block--hover: var(--cl-gray-100);
  --co-autocomplete__new-block: var(--cl-gray-500);
  --bc-autocomplete: var(--cl-gray-750);
  --fs-block-search__heading: 18px;
  --bd-block-search__input: 3px;
  --bc-block-search__menu: transparent;
  --bc-bp3__button--active: var(--cl-gray-850);
  --bi-bp3__button--active: transparent;
  --sd-bp3__button--active: 0 0 0 1px rgba(16,22,26,0.6),inset 0 1px 2px rgba(16,22,26,0.2);
  --co-bp3__button--active: var(--cl-gray-100);
  --bc-bp3__button--disabled: rgba(57,75,89,0.5);
  --bi-bp3__button--disabled: transparent;
  --sd-bp3__button--disabled: none;
  --co-bp3__button--disabled: rgba(167,182,194,0.6);
  --bc-bp3__button--disabled-active: rgba(57,75,89,0.7);
  --bc-bp3__button--hover: var(--cl-gray-750);
  --sd-bp3__button--hover: 0 0 0 1px rgba(16,22,26,.4);
  --co-bp3__button--hover: var(--cl-gray-100);
  --bc-bp3__button: var(--cl-gray-700);
  --bi-bp3__button: linear-gradient(180deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
  --sd-bp3__button: 0 0 0 1px rgba(16,22,26,.4);
  --co-bp3__button: var(--cl-gray-100);
  --co-bp3__button-icon: var(--cl-gray-450);
  --bc-bp3__button-intent-danger--active: var(--cl-red-900);
  --bi-bp3__button-intent-danger--active: transparent;
  --sd-bp3__button-intent-danger--active: 0 0 0 1px rgba(16,22,26,.4);
  --co-bp3__button-intent-danger--active: var(--cl-white);
  --bc-bp3__button-intent-danger--disabled: rgba(219,55,55,0.5);
  --bi-bp3__button-intent-danger--disabled: transparent;
  --sd-bp3__button-intent-danger--disabled: none;
  --co-bp3__button-intent-danger--disabled: rgba(255,255,255,0.6);
  --bc-bp3__button-intent-danger--hover: var(--cl-red-800);
  --sd-bp3__button-intent-danger--hover: 0 0 0 1px rgba(16,22,26,.4);
  --co-bp3__button-intent-danger--hover: var(--cl-white);
  --bc-bp3__button-intent-danger: var(--cl-red-700);
  --bi-bp3__button-intent-danger: linear-gradient(to bottom,rgba(255,255,255,0.1),rgba(255,255,255,0));
  --sd-bp3__button-intent-danger: 0 0 0 1px rgba(16,22,26,.4);
  --co-bp3__button-intent-danger: var(--cl-white);
  --bc-bp3__button-intent-danger-minimal--active: rgba(219,55,55,.3);
  --co-bp3__button-intent-danger-minimal--active: var(--cl-red-500);
  --bc-bp3__button-intent-danger-minimal--disabled: transparent;
  --bi-bp3__button-intent-danger-minimal--disabled: transparent;
  --co-bp3__button-intent-danger-minimal--disabled: rgba(255,115,115,.5);
  --bc-bp3__button-intent-danger-minimal--disabled-active: rgba(219,55,55,.3);
  --co-bp3__button-intent-danger-minimal--disabled-active: rgba(255,115,115,.5);
  --bc-bp3__button-intent-danger-minimal--hover: rgba(219,55,55,.2);
  --co-bp3__button-intent-danger-minimal--hover: var(--cl-red-500);
  --co-bp3__button-intent-danger-minimal: var(--cl-red-500);
  --bc-bp3__button-intent-primary--active: var(--cl-blue-900);
  --bi-bp3__button-intent-primary--active: transparent;
  --sd-bp3__button-intent-primary--active: 0 0 0 1px rgba(16,22,26,.4);
  --co-bp3__button-intent-primary--active: var(--cl-white);
  --bc-bp3__button-intent-primary--disabled: rgba(19,124,189,.5);
  --bi-bp3__button-intent-primary--disabled: transparent;
  --sd-bp3__button-intent-primary--disabled: none;
  --co-bp3__button-intent-primary--disabled: hsla(0,0%,100%,.3);
  --bc-bp3__button-intent-primary--hover: var(--cl-blue-800);
  --sd-bp3__button-intent-primary--hover: 0 0 0 1px rgba(16,22,26,.4);
  --co-bp3__button-intent-primary--hover: var(--cl-white);
  --bc-bp3__button-intent-primary: var(--cl-blue-700);
  --bi-bp3__button-intent-primary: linear-gradient(180deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,0));
  --sd-bp3__button-intent-primary: 0 0 0 1px rgba(16,22,26,.4);
  --co-bp3__button-intent-primary: var(--cl-white);
  --bc-bp3__button-intent-primary-minimal--active: rgba(19,124,189,.3);
  --co-bp3__button-intent-primary-minimal--active: var(--cl-blue-500);
  --bc-bp3__button-intent-primary-minimal--disabled: transparent;
  --bi-bp3__button-intent-primary-minimal--disabled: transparent;
  --co-bp3__button-intent-primary-minimal--disabled: rgba(72,175,240,.5);
  --bc-bp3__button-intent-primary-minimal--disabled-active: rgba(19,124,189,.3);
  --co-bp3__button-intent-primary-minimal--disabled-active: rgba(72,175,240,.5);
  --bc-bp3__button-intent-primary-minimal--hover: rgba(19,124,189,.2);
  --co-bp3__button-intent-primary-minimal--hover: var(--cl-blue-500);
  --co-bp3__button-intent-primary-minimal: var(--cl-blue-500);
  --bc-bp3__button-intent-success--active: #0a6640;
  --bi-bp3__button-intent-success--active: transparent;
  --sd-bp3__button-intent-success--active: 0 0 0 1px rgba(16,22,26,.4),inset 0 1px 2px rgba(16,22,26,.2);
  --co-bp3__button-intent-success--active: var(--cl-white);
  --bc-bp3__button-intent-success--disabled: rgba(15,153,96,.5);
  --bi-bp3__button-intent-success--disabled: transparent;
  --sd-bp3__button-intent-success--disabled: none;
  --co-bp3__button-intent-success--disabled: hsla(0,0%,100%,.3);
  --bc-bp3__button-intent-success--hover: var(--cl-green-800);
  --sd-bp3__button-intent-success--hover: 0 0 0 1px rgba(16,22,26,.4);
  --co-bp3__button-intent-success--hover: var(--cl-white);
  --bc-bp3__button-intent-success: var(--cl-green-700);
  --bi-bp3__button-intent-success: linear-gradient(180deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,0));
  --sd-bp3__button-intent-success: 0 0 0 1px rgba(16,22,26,.4);
  --co-bp3__button-intent-success: var(--cl-white);
  --bc-bp3__button-intent-success-minimal--active: rgba(15,153,96,.3);
  --co-bp3__button-intent-success-minimal--active: var(--cl-green-500);
  --bc-bp3__button-intent-success-minimal--disabled: transparent;
  --bi-bp3__button-intent-success-minimal--disabled: transparent;
  --co-bp3__button-intent-success-minimal--disabled: rgba(61,204,145,.5);
  --bc-bp3__button-intent-success-minimal--disabled-active: rgba(15,153,96,.3);
  --co-bp3__button-intent-success-minimal--disabled-active: rgba(61,204,145,.5);
  --bc-bp3__button-intent-success-minimal--hover: rgba(15,153,96,.2);
  --co-bp3__button-intent-success-minimal--hover: var(--cl-green-500);
  --co-bp3__button-intent-success-minimal: var(--cl-green-500);
  --bc-bp3__button-intent-warning--active: var(--cl-orange-900);
  --bi-bp3__button-intent-warning--active: transparent;
  --sd-bp3__button-intent-warning--active: 0 0 0 1px rgba(16,22,26,.4);
  --co-bp3__button-intent-warning--active: var(--cl-white);
  --bc-bp3__button-intent-warning--disabled: rgba(217,130,43,0.5);
  --bi-bp3__button-intent-warning--disabled: transparent;
  --sd-bp3__button-intent-warning--disabled: none;
  --co-bp3__button-intent-warning--disabled: rgba(255,255,255,0.6);
  --bc-bp3__button-intent-warning--hover: var(--cl-orange-800);
  --sd-bp3__button-intent-warning--hover: 0 0 0 1px rgba(16,22,26,.4);
  --co-bp3__button-intent-warning--hover: var(--cl-white);
  --bc-bp3__button-intent-warning: var(--cl-orange-700);
  --bi-bp3__button-intent-warning: linear-gradient(to bottom,rgba(255,255,255,0.1),rgba(255,255,255,0));
  --sd-bp3__button-intent-warning: 0 0 0 1px rgba(16,22,26,.4);
  --co-bp3__button-intent-warning: var(--cl-white);
  --bc-bp3__button-intent-warning-minimal--active: rgba(217,130,43,.3);
  --co-bp3__button-intent-warning-minimal--active: var(--cl-orange-500);
  --bc-bp3__button-intent-warning-minimal--disabled: transparent;
  --bi-bp3__button-intent-warning-minimal--disabled: transparent;
  --co-bp3__button-intent-warning-minimal--disabled: rgba(255,179,102,.5);
  --bc-bp3__button-intent-warning-minimal--disabled-active: rgba(217,130,43,.3);
  --co-bp3__button-intent-warning-minimal--disabled-active: rgba(255,179,102,.5);
  --bc-bp3__button-intent-warning-minimal--hover: rgba(217,130,43,.2);
  --co-bp3__button-intent-warning-minimal--hover: var(--cl-orange-500);
  --co-bp3__button-intent-warning-minimal: var(--cl-orange-500);
  --bc-bp3__button-minimal--active: rgba(138,155,168,0.3);
  --sd-bp3__button-minimal--active: none;
  --co-bp3__button-minimal--active: var(--cl-gray-100);
  --bc-bp3__button-minimal--disabled: transparent;
  --co-bp3__button-minimal--disabled: rgba(167,182,194,0.6);
  --bc-bp3__button-minimal--disabled-active: rgba(138,155,168,0.3);
  --bc-bp3__button-minimal--hover: rgba(138,155,168,0.15);
  --sd-bp3__button-minimal--hover: none;
  --co-bp3__button-minimal--hover: var(--cl-gray-100);
  --bc-bp3__button-minimal: transparent;
  --bi-bp3__button-minimal: transparent;
  --sd-bp3__button-minimal: none;
  --bc-bp3__button-outlined--active: rgba(138,155,168,0.3);
  --sd-bp3__button-outlined--active: none;
  --co-bp3__button-outlined--active: var(--cl-gray-100);
  --bc-bp3__button-outlined--disabled: transparent;
  --co-bp3__button-outlined--disabled: rgba(167,182,194,0.6);
  --bc-bp3__button-outlined--disabled-active: rgba(138,155,168,0.3);
  --bc-bp3__button-outlined--hover: rgba(138,155,168,.15);
  --sd-bp3__button-outlined--hover: none;
  --bc-bp3__button-outlined: transparent;
  --bt-bp3__button-outlined: 1px solid hsla(0,0%,100%,.4);
  --br-bp3__button-outlined: 1px solid hsla(0,0%,100%,.4);
  --bb-bp3__button-outlined: 1px solid hsla(0,0%,100%,.4);
  --bl-bp3__button-outlined: 1px solid hsla(0,0%,100%,.4);
  --sd-bp3__button-outlined: none;
  --co-bp3__button-outlined: inherit;
  --bc-bp3__button-primary-outlined--hover: rgba(19,124,189,.2);
  --co-bp3__button-primary-outlined--hover: var(--cl-blue-500);
  --bt-bp3__button-primary-outlined: 1px solid rgba(72,175,240,.6);
  --br-bp3__button-primary-outlined: 1px solid rgba(72,175,240,.6);
  --bb-bp3__button-primary-outlined: 1px solid rgba(72,175,240,.6);
  --bl-bp3__button-primary-outlined: 1px solid rgba(72,175,240,.6);
  --co-bp3__button-primary-outlined: var(--cl-blue-500);
  --bc-bp3__callout: rgba(138,155,168,.2);
  --bc-bp3__callout-danger: rgba(219,55,55,.25);
  --co-bp3__callout-icon: var(--cl-gray-500);
  --co-bp3__callout-icon-danger: var(--cl-red-500);
  --co-bp3__callout-icon-primary: var(--cl-blue-500);
  --co-bp3__callout-icon-success: var(--cl-green-500);
  --co-bp3__callout-icon-warning: var(--cl-orange-500);
  --bc-bp3__callout-primary: rgba(19,124,189,.25);
  --bc-bp3__callout-success: rgba(15,153,96,.25);
  --bc-bp3__callout-warning: rgba(217,130,43,.25);
  --bc-bp3__card: var(--cl-gray-750);
  --sd-bp3__card: 0 0 0 1px rgba(16,22,26,0.4),0 0 0 rgba(16,22,26,0),0 0 0 rgba(16,22,26,0);
  --bc-bp3__control-indicator--active: var(--cl-gray-850);
  --sd-bp3__control-indicator--active: 0 0 0 1px rgba(16,22,26,0.6),inset 0 1px 2px rgba(16,22,26,0.2);
  --bc-bp3__control-indicator--active-checked: #0e5a8a;
  --sd-bp3__control-indicator--active-checked: 0 0 0 1px rgba(16, 22, 26, 0.4), inset 0 1px 2px rgba(16, 22, 26, 0.2);
  --bc-bp3__control-indicator--checked: #137cbd;
  --bi-bp3__control-indicator--checked: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  --sd-bp3__control-indicator--checked: 0 0 0 1px rgba(16, 22, 26, 0.4);
  --co-bp3__control-indicator--checked: var(--cl-white);
  --bc-bp3__control-indicator--checked-hover: #106ba3;
  --sd-bp3__control-indicator--checked-hover: 0 0 0 1px rgba(16, 22, 26, 0.4);
  --bc-bp3__control-indicator--hover: var(--cl-gray-750);
  --bc-bp3__control-indicator: var(--cl-gray-700);
  --bi-bp3__control-indicator: linear-gradient(to bottom,rgba(255,255,255,0.05),rgba(255,255,255,0));
  --bt-bp3__control-indicator: transparent;
  --br-bp3__control-indicator: transparent;
  --bb-bp3__control-indicator: transparent;
  --bl-bp3__control-indicator: transparent;
  --sd-bp3__control-indicator: 0 0 0 1px rgba(16,22,26,0.4);
  --bi-bp3__control-radio-indicator-input-before--checked: radial-gradient(#fff,#fff 28%,transparent 32%);
  --op-bp3__control-radio-indicator-input-before--checked-disabled: 0.5;
  --bc-bp3__control-switch-indicator--hover: rgba(16,22,26,.7);
  --bt-bp3__control-switch-indicator: transparent;
  --br-bp3__control-switch-indicator: transparent;
  --bb-bp3__control-switch-indicator: transparent;
  --bl-bp3__control-switch-indicator: transparent;
  --bd-bp3__control-switch-indicator: 1.75em;
  --sd-bp3__control-switch-indicator: none;
  --sd-bp3__control-switch-indicator-before--checked: inset 0 0 0 1px rgba(16,22,26,0.4);
  --bc-bp3__control-switch-indicator-before: var(--cl-gray-700);
  --sd-bp3__control-switch-indicator-before: 0 0 0 1px rgba(16,22,26,0.4);
  --bc-bp3__control-switch-indicator-input--checked: var(--cl-blue-700);
  --bc-bp3__control-switch-indicator-input--checked-active: var(--cl-blue-900);
  --bc-bp3__control-switch-indicator-input--checked-disabled: rgba(14,90,138,0.5);
  --bc-bp3__control-switch-indicator-input--checked-hover: var(--cl-blue-800);
  --bc-bp3__control-switch-indicator-input: rgba(16,22,26,.5);
  --bc-bp3__control-switch-indicator-input-before--checked-disabled: rgba(16,22,26,0.4);
  --bc-bp3__datepicker: var(--cl-gray-750);
  --bd-bp3__datepicker: 3px;
  --bc-bp3__datepicker-day--hover: var(--cl-gray-600);
  --co-bp3__datepicker-day--hover: var(--cl-gray-100);
  --bc-bp3__datepicker-day-outside--hover: transparent;
  --bc-bp3__datepicker-day-selected--hover: var(--cl-blue-600);
  --bc-bp3__datepicker-day-selected: var(--cl-blue-700);
  --co-bp3__datepicker-day-selected: var(--cl-white);
  --bt-bp3__datepicker-today: 1px solid hsla(0,0%,100%,.15);
  --br-bp3__datepicker-today: 1px solid hsla(0,0%,100%,.15);
  --bb-bp3__datepicker-today: 1px solid hsla(0,0%,100%,.15);
  --bl-bp3__datepicker-today: 1px solid hsla(0,0%,100%,.15);
  --co-bp3__datepicker-weeknumber: rgba(167,182,194,.6);
  --br-bp3__datepicker-weeknumber: 1px solid rgba(16,22,26,.4);
  --fs-bp3__datepicker-weeknumber: 1rem;
  --bc-bp3__dialog: var(--cl-gray-800);
  --sd-bp3__dialog: 0 0 0 1px rgba(16,22,26,0.2),0 4px 8px rgba(16,22,26,0.4),0 18px 46px 6px rgba(16,22,26,0.4);
  --br-bp3__divider: 1px solid rgba(16,22,26,0.4);
  --bb-bp3__divider: 1px solid rgba(16,22,26,0.4);
  --sd-bp3__elevation-0: 0 0 0 1px rgba(16,22,26,0.4),0 0 0 rgba(16,22,26,0),0 0 0 rgba(16,22,26,0);
  --sd-bp3__elevation-1: 0 0 0 1px rgba(16,22,26,0.2),0 0 0 rgba(16,22,26,0),0 1px 1px rgba(16,22,26,0.4);
  --sd-bp3__elevation-2: 0 0 0 1px rgba(16,22,26,0.2),0 1px 1px rgba(16,22,26,0.4),0 2px 6px rgba(16,22,26,0.4);
  --sd-bp3__elevation-3: 0 0 0 1px rgba(16,22,26,0.2),0 2px 4px rgba(16,22,26,0.4),0 8px 24px rgba(16,22,26,0.4);
  --sd-bp3__elevation-4: 0 0 0 1px rgba(16,22,26,0.2),0 4px 8px rgba(16,22,26,0.4),0 18px 46px 6px rgba(16,22,26,0.4);
  --bc-bp3__file-upload-input: rgba(16,22,26,.3);
  --bt-bp3__file-upload-input: transparent;
  --br-bp3__file-upload-input: transparent;
  --bb-bp3__file-upload-input: transparent;
  --bl-bp3__file-upload-input: transparent;
  --bd-bp3__file-upload-input: 3px;
  --sd-bp3__file-upload-input: 0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),inset 0 0 0 1px rgba(16,22,26,.3),inset 0 1px 1px rgba(16,22,26,.4);
  --co-bp3__file-upload-input: rgba(167,182,194,.6);
  --fs-bp3__file-upload-input: 0.95rem;
  --bc-bp3__file-upload-input-button--active: var(--cl-gray-850);
  --bi-bp3__file-upload-input-button--active: transparent;
  --sd-bp3__file-upload-input-button--active: 0 0 0 1px rgba(16,22,26,.6),inset 0 1px 2px rgba(16,22,26,.2);
  --co-bp3__file-upload-input-button--active: var(--cl-gray-100);
  --bc-bp3__file-upload-input-button--hover: var(--cl-gray-750);
  --sd-bp3__file-upload-input-button--hover: 0 0 0 1px rgba(16,22,26,.4);
  --co-bp3__file-upload-input-button--hover: var(--cl-gray-100);
  --bc-bp3__file-upload-input-button: var(--cl-gray-700);
  --bi-bp3__file-upload-input-button: linear-gradient(180deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
  --bd-bp3__file-upload-input-button: 3px;
  --sd-bp3__file-upload-input-button: 0 0 0 1px rgba(16,22,26,.4);
  --co-bp3__file-upload-input-button: var(--cl-gray-100);
  --co-bp3__heading: var(--cl-gray-100);
  --bc-bp3__html-select--hover: var(--cl-gray-750);
  --co-bp3__html-select--hover: var(--cl-gray-100);
  --bc-bp3__html-select: var(--cl-gray-750);
  --sd-bp3__html-select: none;
  --co-bp3__html-select: unset;
  --co-bp3__html-select-icon: var(--cl-gray-450);
  --sd-bp3__input--focus: 0 0 0 1px #137cbd,0 0 0 1px #137cbd,0 0 0 3px rgba(19,124,189,0.3),inset 0 0 0 1px rgba(16,22,26,0.3),inset 0 1px 1px rgba(16,22,26,0.4);
  --bc-bp3__input: rgba(16,22,26,.3);
  --bt-bp3__input: transparent;
  --br-bp3__input: transparent;
  --bb-bp3__input: transparent;
  --bl-bp3__input: transparent;
  --bd-bp3__input: 3px;
  --sd-bp3__input: 0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),inset 0 0 0 1px rgba(16,22,26,.3),inset 0 1px 1px rgba(16,22,26,.4);
  --co-bp3__input: var(--cl-gray-100);
  --fs-bp3__input: 1rem;
  --fw-bp3__input: 400;
  --co-bp3__input-group-icon: var(--cl-gray-450);
  --co-bp3__input-placeholder: rgba(167,182,194,.6);
  --bd-bp3__input-search: 3px;
  --bc-bp3__menu: var(--cl-gray-750);
  --bd-bp3__menu: 3px;
  --co-bp3__menu: var(--cl-gray-100);
  --fs-bp3__menu: 1rem;
  --bc-bp3__menu-item--active: rgba(138,155,168,.3);
  --co-bp3__menu-item--active: var(--cl-white);
  --bc-bp3__menu-item--hover: rgba(138,155,168,.15);
  --bb-bp3__menu-item--hover: transparent;
  --co-bp3__menu-item--hover: var(--cl-gray-100);
  --bb-bp3__menu-item: transparent;
  --bd-bp3__menu-item: 3px;
  --co-bp3__menu-item-icon--hover: var(--cl-gray-100);
  --co-bp3__menu-item-icon: var(--cl-gray-400);
  --fl-bp3__menu-item-icon-svg--hover: var(--cl-gray-100);
  --fl-bp3__menu-item-icon-svg: var(--cl-gray-400);
  --bc-bp3__menu-item-intent-primary--active: var(--cl-blue-700);
  --co-bp3__menu-item-intent-primary: var(--cl-blue-500);
  --co-bp3__menu-item-label--hover: var(--cl-gray-500);
  --co-bp3__menu-item-label: var(--cl-gray-500);
  --bd-bp3__popover: 3px;
  --sd-bp3__popover: 0 0 0 1px rgba(16,22,26,.2),0 2px 4px rgba(16,22,26,.4),0 8px 24px rgba(16,22,26,.4);
  --sd-bp3__popover-arrow: 1px 1px 6px rgba(16,22,26,.4);
  --fl-bp3__popover-arrow-border: var(--cl-black);
  --fl-bp3__popover-arrow-fill: var(--cl-gray-750);
  --bc-bp3__popover-content: var(--cl-gray-750);
  --bd-bp3__popover-content: 3px;
  --bc-bp3__slider-handle--hover: var(--cl-gray-800);
  --bc-bp3__slider-handle: var(--cl-gray-700);
  --bi-bp3__slider-handle: linear-gradient(180deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
  --bd-bp3__slider-handle: 3px;
  --sd-bp3__slider-handle: 0 0 0 1px rgba(16,22,26,.4);
  --co-bp3__slider-handle: var(--cl-gray-100);
  --bc-bp3__slider-handle-label: var(--cl-gray-200);
  --bd-bp3__slider-handle-label: 3px;
  --sd-bp3__slider-handle-label: 0 0 0 1px rgba(16,22,26,.2),0 2px 4px rgba(16,22,26,.4),0 8px 24px rgba(16,22,26,.4);
  --co-bp3__slider-handle-label: var(--cl-gray-700);
  --bc-bp3__slider-progress: rgba(16,22,26,.5);
  --bc-bp3__slider-progress-intent-primary: var(--cl-blue-700);
  --co-bp3__tab--hover: var(--cl-blue-500);
  --sd-bp3__tab--selected: inset 0 -3px 0 #48aff0;
  --co-bp3__tab--selected: var(--cl-blue-500);
  --fw-bp3__tab--selected: normal;
  --co-bp3__tab: var(--cl-gray-100);
  --bc-bp3__tab-vertical--selected: rgba(19,124,189,0.2);
  --sd-bp3__tab-vertical--selected: none;
  --co-bp3__tab-vertical--selected: #48aff0;
  --bc-bp3__tab-vertical-indicator: rgba(19,124,189,0.2);
  --bd-bp3__tab-vertical-indicator: 3px;
  --bc-bp3__tag: var(--cl-gray-400);
  --bt-bp3__tag: transparent;
  --br-bp3__tag: transparent;
  --bb-bp3__tag: transparent;
  --bl-bp3__tag: transparent;
  --bd-bp3__tag: 3px;
  --sd-bp3__tag: none;
  --co-bp3__tag: var(--cl-gray-900);
  --fs-bp3__tag: 0.9rem;
  --bc-bp3__tooltip: var(--cl-gray-200);
  --co-bp3__tooltip: var(--cl-gray-700);
  --sd-bp3__tooltip-arrow: 1px 1px 6px rgba(16,22,26,0.4);
  --fl-bp3__tooltip-arrow-border: var(--cl-black);
  --fl-bp3__tooltip-arrow-fill: var(--cl-gray-200);
  --co-bp3__tooltip-heading: var(--cl-gray-700);
  --bc-codeblock__active-line-gutter--focus: var(--cl-gray-700);
  --bc-codeblock__active-line-gutter: var(--cl-gray-700);
  --co-codeblock__atom: var(--cl-cobalt-300);
  --co-codeblock__className: var(--cl-turquoise-600);
  --co-codeblock__comment: var(--cl-sepia-500);
  --bl-codeblock__cursor: 1.2px solid var(--cl-gray-100);
  --co-codeblock__definition: var(--cl-cobalt-500);
  --bc-codeblock__gutters: transparent;
  --co-codeblock__gutters: var(--cl-gray-300);
  --co-codeblock__keyword: var(--cl-violet-500);
  --co-codeblock__label: var(--cl-blue-500);
  --co-codeblock__number: var(--cl-turquoise-600);
  --bc-codeblock__selection--focus: rgba(125,188,255,.4);
  --bc-codeblock__selection: rgba(125,188,255,.4);
  --co-codeblock__string: var(--cl-vermilion-500);
  --co-codeblock__typename: var(--cl-green-500);
  --co-codeblock__variable: var(--cl-cobalt-200);
  --bc-codeblock: rgba(16,22,26,.3);
  --bd-codeblock: 3px;
  --sd-codeblock: inset 0 0 0 1px rgba(16,22,26,.4);
  --co-codeblock: var(--cl-gray-100);
  --fs-codeblock: 0.9rem;
  --bc-command-palette__footer: var(--cl-gray-700);
  --bt-command-palette__footer: 1px solid rgba(16,22,26,0.4);
  --bc-command-palette__menu-item--active: rgba(138,155,168,.3);
  --co-command-palette__menu-item--active: var(--cl-gray-100);
  --bd-command-palette__menu-item: 3px;
  --co-command-palette__shortcut--active: var(--cl-gray-900);
  --bc-command-palette__shortcut: var(--cl-gray-400);
  --co-command-palette__shortcut: var(--cl-gray-900);
  --bc-control__bullet-closed-inner: var(--cl-gray-300);
  --bt-control__bullet-closed-inner: 4px solid var(--cl-gray-600);
  --br-control__bullet-closed-inner: 4px solid var(--cl-gray-600);
  --bb-control__bullet-closed-inner: 4px solid var(--cl-gray-600);
  --bl-control__bullet-closed-inner: 4px solid var(--cl-gray-600);
  --bc-control__bullet-ghost: var(--cl-gray-500);
  --bc-control__bullet-inner: var(--cl-gray-300);
  --br-control__multibar--hover: 3px solid var(--cl-gray-500);
  --br-control__multibar: 1px solid var(--cl-gray-600);
  --co-daily__preview: var(--cl-gray-500);
  --ff-daily__preview: inherit;
  --fs-daily__preview: 2.25rem;
  --fw-daily__preview: 600;
  --co-datepicker__day-today--hover: var(--cl-gray-100);
  --co-datepicker__day-today--selected: var(--cl-white);
  --fw-datepicker__day-today--selected: 400;
  --co-datepicker__day-today--selected-hover: var(--cl-white);
  --co-datepicker__day-today: var(--cl-gray-100);
  --fw-datepicker__day-today: 400;
  --co-datepicker__day-without-journal--hover: var(--cl-gray-450);
  --co-datepicker__day-without-journal: var(--cl-gray-450);
  --bc-diagram__button--active: var(--cl-gray-850);
  --bi-diagram__button--active: transparent;
  --sd-diagram__button--active: 0 0 0 1px rgba(16,22,26,0.6),inset 0 1px 2px rgba(16,22,26,0.2);
  --co-diagram__button--active: var(--cl-gray-450);
  --bc-diagram__button--disabled: rgba(57,75,89,0.5);
  --bi-diagram__button--disabled: transparent;
  --sd-diagram__button--disabled: none;
  --co-diagram__button--disabled: rgba(167,182,194,0.6);
  --bc-diagram__button--disabled-active: rgba(57,75,89,0.7);
  --bc-diagram__button--hover: var(--cl-gray-750);
  --sd-diagram__button--hover: 0 0 0 1px rgba(16,22,26,.4);
  --co-diagram__button--hover: var(--cl-gray-450);
  --bc-diagram__button: var(--cl-gray-700);
  --bi-diagram__button: linear-gradient(180deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
  --fl-diagram__button: var(--cl-gray-450);
  --sd-diagram__button: 0 0 0 1px rgba(16,22,26,.4);
  --co-diagram__button: var(--cl-gray-450);
  --sd-diagram__node--hover: none;
  --bt-diagram__node--selected: 2px solid var(--cl-blue-500);
  --br-diagram__node--selected: 2px solid var(--cl-blue-500);
  --bb-diagram__node--selected: 2px solid var(--cl-blue-500);
  --bl-diagram__node--selected: 2px solid var(--cl-blue-500);
  --bd-diagram__node--selected: 0;
  --sd-diagram__node--selected: none;
  --bc-diagram__node: var(--cl-gray-700);
  --bt-diagram__node: 1px solid var(--cl-gray-800);
  --br-diagram__node: 1px solid var(--cl-gray-800);
  --bb-diagram__node: 1px solid var(--cl-gray-800);
  --bl-diagram__node: 1px solid var(--cl-gray-800);
  --bd-diagram__node: 0;
  --co-diagram__node: var(--cl-gray-100);
  --fs-diagram__node: 1rem;
  --bc-diagram__group-title: transparent;
  --co-diagram__group-title: var(--cl-gray-100);
  --fs-diagram__group-title: 1rem;
  --bt-diagram__group--selected: 2px solid var(--cl-blue-500);
  --br-diagram__group--selected: 2px solid var(--cl-blue-500);
  --bb-diagram__group--selected: 2px solid var(--cl-blue-500);
  --bl-diagram__group--selected: 2px solid var(--cl-blue-500);
  --bd-diagram__group--selected: 4px;
  --sd-diagram__group--selected: none;
  --co-diagram__block-title: var(--cl-gray-100);
  --co-diagram__edge: var(--cl-gray-400);
  --bc-diagram__properties-panel: var(--cl-gray-750);
  --sd-diagram__properties-panel: 0 0 0 1px rgba(16,22,26,.2),0 2px 4px rgba(16,22,26,.4),0 8px 24px rgba(16,22,26,.4);
  --bc-diagram__minimap: var(--cl-gray-850);
  --fl-diagram__minimap-node: var(--cl-gray-400);
  --op-diagram__minimap-node: 0.5;
  --bc-diagram__resize-control: var(--cl-blue-500);
  --bt-diagram__resize-control: 1px solid var(--cl-blue-900);
  --br-diagram__resize-control: 1px solid var(--cl-blue-900);
  --bb-diagram__resize-control: 1px solid var(--cl-blue-900);
  --bl-diagram__resize-control: 1px solid var(--cl-blue-900);
  --sd-diagram__controls: none;
  --bc-diagram__title-panel: transparent;
  --sd-diagram__title-panel: none;
  --co-diagram__title-panel: var(--cl-gray-100);
  --bc-diagram: var(--cl-gray-800);
  --bt-diagram: 1px solid var(--cl-gray-600);
  --br-diagram: 1px solid var(--cl-gray-600);
  --bb-diagram: 1px solid var(--cl-gray-600);
  --bl-diagram: 1px solid var(--cl-gray-600);
  --sd-dialog__confirmation-button: 0 0 0 1px rgba(16,22,26,.4);
  --bc-dialog__confirmation-cancel-button--active: rgba(138,155,168,0.3);
  --sd-dialog__confirmation-cancel-button--active: none;
  --co-dialog__confirmation-cancel-button--active: var(--cl-gray-100);
  --bc-dialog__confirmation-cancel-button--hover: rgba(138,155,168,.15);
  --sd-dialog__confirmation-cancel-button--hover: none;
  --bc-dialog__confirmation-cancel-button: transparent;
  --bt-dialog__confirmation-cancel-button: 1px solid hsla(0,0%,100%,.4);
  --br-dialog__confirmation-cancel-button: 1px solid hsla(0,0%,100%,.4);
  --bb-dialog__confirmation-cancel-button: 1px solid hsla(0,0%,100%,.4);
  --bl-dialog__confirmation-cancel-button: 1px solid hsla(0,0%,100%,.4);
  --sd-dialog__confirmation-cancel-button: none;
  --co-dialog__confirmation-cancel-button: inherit;
  --bc-emoji-mart__anchor--hover: rgba(138,155,168,0.15);
  --bi-emoji-mart__anchor--hover: transparent;
  --bt-emoji-mart__anchor--hover: transparent;
  --br-emoji-mart__anchor--hover: transparent;
  --bb-emoji-mart__anchor--hover: transparent;
  --bl-emoji-mart__anchor--hover: transparent;
  --bd-emoji-mart__anchor--hover: 0px;
  --sd-emoji-mart__anchor--hover: none;
  --co-emoji-mart__anchor--hover: var(--cl-gray-100);
  --fl-emoji-mart__anchor--selected: var(--cl-blue-500);
  --bc-emoji-mart__anchor: transparent;
  --bi-emoji-mart__anchor: transparent;
  --bt-emoji-mart__anchor: transparent;
  --br-emoji-mart__anchor: transparent;
  --bb-emoji-mart__anchor: transparent;
  --bl-emoji-mart__anchor: transparent;
  --bd-emoji-mart__anchor: 0px;
  --sd-emoji-mart__anchor: none;
  --co-emoji-mart__anchor: var(--cl-gray-100);
  --bc-emoji-mart__anchor-bar--selected: var(--cl-blue-500);
  --fl-emoji-mart__anchor-icon: var(--cl-gray-450);
  --bb-emoji-mart__bar--first-child: 1px solid hsla(0,0%,100%,.15);
  --bt-emoji-mart__bar: 1px solid hsla(0,0%,100%,.15);
  --bc-emoji-mart__category-label: var(--cl-gray-750);
  --fs-emoji-mart__category-label: 1rem;
  --bc-emoji-mart__emoji--hover: rgba(138,155,168,0.15);
  --bi-emoji-mart__emoji--hover: transparent;
  --bt-emoji-mart__emoji--hover: transparent;
  --br-emoji-mart__emoji--hover: transparent;
  --bb-emoji-mart__emoji--hover: transparent;
  --bl-emoji-mart__emoji--hover: transparent;
  --bd-emoji-mart__emoji--hover: 3px;
  --sd-emoji-mart__emoji--hover: none;
  --co-emoji-mart__emoji--hover: var(--cl-gray-100);
  --bc-emoji-mart__emoji: transparent;
  --bi-emoji-mart__emoji: transparent;
  --bt-emoji-mart__emoji: transparent;
  --br-emoji-mart__emoji: transparent;
  --bb-emoji-mart__emoji: transparent;
  --bl-emoji-mart__emoji: transparent;
  --bd-emoji-mart__emoji: 3px;
  --sd-emoji-mart__emoji: none;
  --co-emoji-mart__emoji: var(--cl-gray-100);
  --bc-emoji-mart__emoji-before--hover: transparent;
  --bc-emoji-mart__search-icon: transparent;
  --bi-emoji-mart__search-icon: transparent;
  --fl-emoji-mart__search-icon: var(--cl-gray-450);
  --bt-emoji-mart__search-icon: transparent;
  --br-emoji-mart__search-icon: transparent;
  --bb-emoji-mart__search-icon: transparent;
  --bl-emoji-mart__search-icon: transparent;
  --bd-emoji-mart__search-icon: 3px;
  --sd-emoji-mart__search-icon: none;
  --co-emoji-mart__search-icon: var(--cl-gray-450);
  --sd-emoji-mart__search-input--focus: 0 0 0 1px #137cbd,0 0 0 1px #137cbd,0 0 0 3px rgba(19,124,189,.3),inset 0 0 0 1px rgba(16,22,26,.3),inset 0 1px 1px rgba(16,22,26,.4);
  --bc-emoji-mart__search-input: rgba(16,22,26,.3);
  --bt-emoji-mart__search-input: transparent;
  --br-emoji-mart__search-input: transparent;
  --bb-emoji-mart__search-input: transparent;
  --bl-emoji-mart__search-input: transparent;
  --bd-emoji-mart__search-input: 30px;
  --sd-emoji-mart__search-input: 0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),inset 0 0 0 1px rgba(16,22,26,.3),inset 0 1px 1px rgba(16,22,26,.4);
  --co-emoji-mart__search-input: var(--cl-gray-100);
  --fs-emoji-mart__search-input: 1rem;
  --fw-emoji-mart__search-input: 400;
  --co-emoji-mart__search-input-placeholder: rgba(167,182,194,.6);
  --bc-emoji-mart: unset;
  --bt-emoji-mart: transparent;
  --br-emoji-mart: transparent;
  --bb-emoji-mart: transparent;
  --bl-emoji-mart: transparent;
  --bd-emoji-mart: 0;
  --co-emoji-mart: unset;
  --bc-extensions__extension-small--hover: rgba(138,155,168,.15);
  --co-extensions__extension-small-description: var(--cl-gray-300);
  --co-extensions__extension-small-downloads: var(--cl-gray-500);
  --co-extensions__full-desc: var(--cl-gray-300);
  --co-extensions__full-downloads: var(--cl-gray-500);
  --co-extensions__full-stats: var(--cl-gray-300);
  --bc-extensions__input--focus: rgba(16,22,26,.3);
  --sd-extensions__input--focus: 0 0 0 1px #137cbd,0 0 0 1px #137cbd,0 0 0 3px rgba(19,124,189,0.3),inset 0 0 0 1px rgba(16,22,26,0.3),inset 0 1px 1px rgba(16,22,26,0.4);
  --bc-extensions__input: rgba(16,22,26,.3);
  --bt-extensions__input: transparent;
  --br-extensions__input: transparent;
  --bb-extensions__input: transparent;
  --bl-extensions__input: transparent;
  --bd-extensions__input: 3px;
  --sd-extensions__input: 0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),inset 0 0 0 1px rgba(16,22,26,.3),inset 0 1px 1px rgba(16,22,26,.4);
  --co-extensions__input: var(--cl-gray-100);
  --fs-extensions__input: 1rem;
  --fw-extensions__input: 400;
  --co-extensions__input-placeholder: rgba(167,182,194,.6);
  --bc-extensions__marketplace: var(--cl-gray-750);
  --bd-extensions__marketplace: 6px;
  --co-extensions__marketplace: var(--cl-gray-100);
  --bc-extensions__marketplace-details: var(--cl-gray-750);
  --bc-extensions__marketplace-details-thumb: var(--cl-gray-500);
  --bc-extensions__marketplace-details-track: var(--cl-gray-750);
  --bc-extensions__marketplace-search: var(--cl-gray-800);
  --bc-extensions__search-results-scrollbar-thumb: var(--cl-gray-500);
  --bc-extensions__search-results-scrollbar-track: var(--cl-gray-800);
  --co-filter__helper-text: var(--cl-gray-500);
  --bc-find-or-create__highlight: var(--cl-gold-700);
  --co-find-or-create__highlight: var(--cl-white);
  --co-find-or-create__label--selected: var(--cl-green-500);
  --co-find-or-create__label: var(--cl-green-600);
  --bc-find-or-create__menu-item--selected: rgba(138,155,168,.3);
  --co-find-or-create__menu-item--selected: var(--cl-gray-100);
  --co-find-or-create__recent: var(--cl-gray-500);
  --co-find-or-create__search-list-item--selected: var(--cl-gray-300);
  --co-find-or-create__search-list-item: var(--cl-gray-300);
  --co-graph__label: ;
  --ff-graph__label: ;
  --co-graph: ;
  --co-graph__default-node: ;
  --co-graph__unselected-node: ;
  --co-graph__explore-node: ;
  --co-graph__default-edge: ;
  --co-graph__selected-edge: ;
  --co-graph__unselected-edge: ;
  --bc-graph__control-panel: var(--cl-gray-750);
  --sd-graph__control-panel: 0 0 0 1px rgba(16,22,26,.2),0 2px 4px rgba(16,22,26,.4),0 8px 24px rgba(16,22,26,.4);
  --co-graph__control-panel: var(--cl-gray-100);
  --bc-help__category-menu-item--hover: rgba(138,155,168,.15);
  --bc-help__category-menu-item--selected: rgba(138,155,168,.3);
  --co-help__category-menu-item--selected: var(--cl-gray-100);
  --bd-help__category-menu-item: 3px;
  --co-help__category-name: var(--cl-gray-100);
  --fs-help__category-name: 1rem;
  --tt-help__category-name: none;
  --co-help__component-description: var(--cl-gray-100);
  --bc-help__component-notation: rgba(16,22,26,.3);
  --sd-help__component-notation: inset 0 0 0 1px rgba(16,22,26,.4);
  --co-help__component-notation: var(--cl-gray-100);
  --co-help__component-title: var(--cl-gray-100);
  --co-help__function-markdown: var(--cl-gray-100);
  --co-help__function-name: var(--cl-gray-100);
  --fs-help__function-name: 1rem;
  --bt-help__hr: 1px solid rgba(16,22,26,0.4);
  --co-help__markdown: var(--cl-gray-100);
  --bc-help__resource--hover: rgba(138,155,168,.15);
  --bd-help__resource: 3px;
  --co-help__resource-description: var(--cl-gray-100);
  --fs-help__resource-description: 1rem;
  --bc-help__resource-icon: var(--cl-gray-800);
  --co-help__resource-icon: var(--cl-blue-100);
  --co-help__resource-title: var(--cl-gray-100);
  --fs-help__resource-title: 1rem;
  --co-help__search-icon: var(--cl-gray-450);
  --bt-help__search-icon-container: transparent;
  --br-help__search-icon-container: transparent;
  --bb-help__search-icon-container: transparent;
  --bl-help__search-icon-container: transparent;
  --bc-help__search-input--focus: rgba(16,22,26,.3);
  --sd-help__search-input--focus: 0 0 0 1px #137cbd,0 0 0 1px #137cbd,0 0 0 3px rgba(19,124,189,0.3),inset 0 0 0 1px rgba(16,22,26,0.3),inset 0 1px 1px rgba(16,22,26,0.4);
  --bc-help__search-input: rgba(16,22,26,.3);
  --bt-help__search-input: transparent;
  --br-help__search-input: transparent;
  --bb-help__search-input: transparent;
  --bl-help__search-input: transparent;
  --bd-help__search-input: 3px;
  --sd-help__search-input: 0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),inset 0 0 0 1px rgba(16,22,26,.3),inset 0 1px 1px rgba(16,22,26,.4);
  --co-help__search-input: var(--cl-gray-100);
  --fs-help__search-input: 1rem;
  --fw-help__search-input: 400;
  --co-help__search-input-placeholder: rgba(167,182,194,.6);
  --co-help__title: var(--cl-gray-100);
  --bb-html__a--hover: transparent;
  --co-html__a--hover: var(--cl-blue-500);
  --td-html__a--hover: underline;
  --bb-html__a--focus: transparent;
  --co-html__a--focus: var(--cl-blue-500);
  --td-html__a--focus: none;
  --bb-html__a: transparent;
  --co-html__a: var(--cl-blue-500);
  --td-html__a: none;
  --bc-html__body: var(--cl-gray-800);
  --co-html__body: var(--cl-gray-100);
  --ff-html__body: Inter, sans-serif;
  --fs-html__body: 15px;
  --bc-html__button--active: var(--cl-gray-850);
  --bi-html__button--active: transparent;
  --sd-html__button--active: 0 0 0 1px rgba(16,22,26,0.6),inset 0 1px 2px rgba(16,22,26,0.2);
  --co-html__button--active: var(--cl-gray-100);
  --bc-html__button--disabled: rgba(57,75,89,0.5);
  --bi-html__button--disabled: transparent;
  --sd-html__button--disabled: none;
  --co-html__button--disabled: rgba(167,182,194,0.6);
  --bc-html__button--disabled-active: rgba(57,75,89,0.7);
  --bc-html__button--hover: var(--cl-gray-750);
  --sd-html__button--hover: 0 0 0 1px rgba(16,22,26,.4);
  --co-html__button--hover: var(--cl-gray-100);
  --bc-html__button: var(--cl-gray-700);
  --bi-html__button: linear-gradient(180deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
  --bt-html__button: transparent;
  --br-html__button: transparent;
  --bb-html__button: transparent;
  --bl-html__button: transparent;
  --bd-html__button: 3px;
  --sd-html__button: 0 0 0 1px rgba(16,22,26,.4);
  --co-html__button: var(--cl-gray-100);
  --ff-html__div: unset;
  --bc-html__highlight: var(--cl-gold-500);
  --co-html__highlight: var(--cl-gray-900);
  --sd-html__input--focus: 0 0 0 1px #137cbd,0 0 0 1px #137cbd,0 0 0 3px rgba(19,124,189,0.3),inset 0 0 0 1px rgba(16,22,26,0.3),inset 0 1px 1px rgba(16,22,26,0.4);
  --bc-html__input: rgba(16,22,26,.3);
  --bt-html__input: transparent;
  --br-html__input: transparent;
  --bb-html__input: transparent;
  --bl-html__input: transparent;
  --bd-html__input: 3px;
  --sd-html__input: 0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),inset 0 0 0 1px rgba(16,22,26,.3),inset 0 1px 1px rgba(16,22,26,.4);
  --co-html__input: var(--cl-gray-100);
  --fs-html__input: 1rem;
  --fw-html__input: 400;
  --bc-html__selection: rgba(125,188,255,.4);
  --co-left-sidebar__db-title: var(--cl-gray-100);
  --fw-left-sidebar__db-title: normal;
  --co-left-sidebar__expand-icon: var(--cl-gray-450);
  --sd-left-sidebar__graph-dropdown: none;
  --fs-left-sidebar__graph-dropdown: 1rem;
  --fw-left-sidebar__graph-dropdown: normal;
  --op-left-sidebar__graph-dropdown: 1;
  --co-left-sidebar__graph-dropdown-a--hover: var(--cl-gray-100);
  --co-left-sidebar__graph-dropdown-a: var(--cl-gray-100);
  --co-left-sidebar__graph-dropdown-menu-title: var(--cl-gray-450);
  --fs-left-sidebar__graph-dropdown-menu-title: 1rem;
  --bc-left-sidebar__graph-dropdown-settings--hover: rgba(138,155,168,.15);
  --co-left-sidebar__graph-dropdown-settings--hover: var(--cl-gray-100);
  --bc-left-sidebar__graph-dropdown-settings: transparent;
  --co-left-sidebar__graph-dropdown-settings-icon--hover: var(--cl-gray-100);
  --co-left-sidebar__graph-dropdown-settings-icon: var(--cl-gray-400);
  --fs-left-sidebar__graph-dropdown-sign-out: 1rem;
  --op-left-sidebar__graph-dropdown-sign-out: 1;
  --co-left-sidebar__icon--hover: var(--cl-gray-100);
  --co-left-sidebar__icon: var(--cl-gray-400);
  --fs-left-sidebar__icon: 1rem;
  --bc-left-sidebar__log-button--hover: var(--cl-gray-800);
  --bi-left-sidebar__log-button--hover: transparent;
  --co-left-sidebar__log-button--hover: var(--cl-gray-100);
  --co-left-sidebar__log-button: var(--cl-gray-400);
  --fs-left-sidebar__log-button: 0.95rem;
  --fw-left-sidebar__log-button: 500;
  --bc-left-sidebar__logo--hover: transparent;
  --co-left-sidebar__logo-text: var(--cl-gray-400);
  --co-left-sidebar__shortcuts-title: var(--cl-gray-400);
  --bc-left-sidebar__starred-page--hover: var(--cl-gray-800);
  --co-left-sidebar__starred-page--hover: var(--cl-gray-100);
  --fw-left-sidebar__starred-page--hover: 400;
  --co-left-sidebar__starred-page: var(--cl-gray-100);
  --fs-left-sidebar__starred-page: 0.95rem;
  --fw-left-sidebar__starred-page: 400;
  --bc-left-sidebar__top-row: var(--cl-gray-700);
  --bb-left-sidebar__top-row: transparent;
  --bc-left-sidebar: var(--cl-gray-700);
  --br-left-sidebar: transparent;
  --sd-left-sidebar: 1px 0 0 rgba(16,22,26,.4);
  --ff-left-sidebar: Inter, sans-serif;
  --bb-main__alias-block--hover: transparent;
  --co-main__alias-block--hover: var(--cl-blue-500);
  --td-main__alias-block--hover: underline;
  --bb-main__alias-block: transparent;
  --co-main__alias-block: var(--cl-blue-500);
  --bb-main__alias-external--hover: transparent;
  --co-main__alias-external--hover: var(--cl-blue-500);
  --td-main__alias-external--hover: underline;
  --bb-main__alias-external: transparent;
  --co-main__alias-external: var(--cl-blue-500);
  --bb-main__alias-page--hover: transparent;
  --co-main__alias-page--hover: var(--cl-blue-500);
  --td-main__alias-page--hover: underline;
  --bb-main__alias-page: transparent;
  --co-main__alias-page: var(--cl-blue-500);
  --bl-main__alias-tooltip-content-bq: 4px solid rgba(115,134,148,.5);
  --co-main__alias-tooltip-content-bq: inherit;
  --co-main__block-ghost: var(--cl-gray-500);
  --bt-main__block-highlight-yellow: transparent;
  --br-main__block-highlight-yellow: transparent;
  --bb-main__block-highlight-yellow: transparent;
  --bl-main__block-highlight-yellow: transparent;
  --sd-main__block-highlight-yellow: inset 0px 0px 0px 2px var(--cl-gold-500);
  --bc-main__block-ref--hover: rgba(138,155,168,.15);
  --bb-main__block-ref: 1px dotted var(--cl-gray-500);
  --co-main__block-view-comment-card-display-name: var(--cl-gray-300);
  --co-main__block-view-comment-card-editing-time: var(--cl-gray-500);
  --bc-main__block-view-group: transparent;
  --bl-main__block-view-group-border: 2px solid var(--cl-gray-600);
  --bc-main__block-view-group-view: transparent;
  --co-main__block-view-group-view: transparent;
  --fs-main__block-view-group-view: 1rem;
  --bc-main__block-view-horizontal: transparent;
  --bc-main__block-view-side: transparent;
  --bt-main__block-view-side-children: transparent;
  --br-main__block-view-side-children: transparent;
  --bb-main__block-view-side-children: transparent;
  --bl-main__block-view-side-children: transparent;
  --bt-main__block-view-vertical: 1px solid var(--cl-gray-700);
  --br-main__block-view-vertical: 8px solid var(--cl-gray-700);
  --bb-main__block-view-vertical: 1px solid var(--cl-gray-700);
  --bl-main__block-view-vertical: transparent;
  --bc-main__blockquote: transparent;
  --bl-main__blockquote: 4px solid rgba(115,134,148,.5);
  --co-main__blockquote: var(--cl-gray-100);
  --fs-main__blockquote: 1rem;
  --co-main__brackets: var(--cl-gray-500);
  --bc-main__checkbox--checked: #137cbd;
  --bi-main__checkbox--checked: linear-gradient(180deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,0));
  --sd-main__checkbox--checked: 0 0 0 1px rgba(16,22,26,.4);
  --bc-main__checkbox: #394b59;
  --bi-main__checkbox: linear-gradient(180deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
  --bt-main__checkbox: transparent;
  --br-main__checkbox: transparent;
  --bb-main__checkbox: transparent;
  --bl-main__checkbox: transparent;
  --sd-main__checkbox: 0 0 0 1px rgba(16,22,26,.4);
  --bc-main__code: rgba(16,22,26,.3);
  --bt-main__code: transparent;
  --br-main__code: transparent;
  --bb-main__code: transparent;
  --bl-main__code: transparent;
  --bd-main__code: 3px;
  --sd-main__code: inset 0 0 0 1px rgba(16,22,26,.4);
  --co-main__code: var(--cl-gray-450);
  --bc-main__embed-container: var(--cl-gray-700);
  --bc-main__embed-container-1: var(--cl-gray-600);
  --bc-main__embed-container-2: var(--cl-gray-700);
  --bc-main__embed-container-3: var(--cl-gray-750);
  --bc-main__embed-container-4: var(--cl-gray-850);
  --bc-main__embed-container-5: var(--cl-gray-900);
  --bc-main__embed-container-6: var(--cl-gray-500);
  --bc-main__embed-container-7: var(--cl-gray-600);
  --bc-main__embed-container-8: var(--cl-gray-700);
  --bc-main__embed-container-9: var(--cl-gray-850);
  --bt-main__embed-content-references: transparent;
  --bc-main__embed-page: var(--cl-gray-850);
  --bc-main__embed-page-margin-action: var(--cl-gray-500);
  --op-main__embed-page-margin-action: .5;
  --bc-main__embed-path: var(--cl-gray-850);
  --bc-main__encrypted-block: var(--cl-gray-750);
  --co-main__encrypted-block: var(--cl-gray-100);
  --fs-main__encrypted-block: 1rem;
  --co-main__heading-level-1: var(--cl-gray-100);
  --ff-main__heading-level-1: Inter, sans-serif;
  --fs-main__heading-level-1: 28px;
  --fw-main__heading-level-1: 600;
  --co-main__heading-level-2: var(--cl-gray-100);
  --ff-main__heading-level-2: Inter, sans-serif;
  --fs-main__heading-level-2: 22px;
  --fw-main__heading-level-2: 600;
  --co-main__heading-level-3: var(--cl-gray-100);
  --ff-main__heading-level-3: Inter, sans-serif;
  --fs-main__heading-level-3: 18px;
  --fw-main__heading-level-3: 600;
  --bc-main__help-popup: var(--cl-gray-750);
  --bc-main__highlight: var(--cl-gold-700);
  --bc-main__highlight-blue: var(--cl-blue-700);
  --bc-main__inline-references: var(--cl-gray-850);
  --bc-main__kanban-board: var(--cl-gray-850);
  --bc-main__kanban-card: var(--cl-gray-600);
  --bc-main__kanban-column: var(--cl-gray-750);
  --bb-main__kanban-title: 1px solid var(--cl-gray-850);
  --co-main__namespace: var(--cl-blue-500);
  --ft-main__namespace: italic;
  --bc-main__option--hover: var(--cl-gray-600);
  --sd-main__option--hover: none;
  --co-main__option--hover: var(--cl-gray-100);
  --bc-main__option: transparent;
  --bi-main__option: transparent;
  --bt-main__option: transparent;
  --br-main__option: transparent;
  --bb-main__option: transparent;
  --bl-main__option: transparent;
  --bd-main__option: 3px;
  --sd-main__option: none;
  --co-main__option: var(--cl-gray-100);
  --bt-main__option-arrow--hover: 4px solid var(--cl-gray-100);
  --bt-main__option-arrow: 4px solid var(--cl-gray-400);
  --bb-main__page-ref-link: transparent;
  --co-main__page-ref-link: var(--cl-blue-500);
  --bc-main__parenthicals--hover: var(--cl-gray-850);
  --bc-main__parenthicals: var(--cl-gray-900);
  --bt-main__parenthicals: transparent;
  --br-main__parenthicals: transparent;
  --bb-main__parenthicals: transparent;
  --bl-main__parenthicals: transparent;
  --bd-main__parenthicals: 5px;
  --bc-main__pomodoro: var(--cl-gray-900);
  --bt-main__pomodoro: transparent;
  --br-main__pomodoro: transparent;
  --bb-main__pomodoro: transparent;
  --bl-main__pomodoro: transparent;
  --bd-main__pomodoro: ;
  --co-main__pomodoro: var(--cl-gray-100);
  --bt-main__query: .5px solid var(--cl-gray-600);
  --br-main__query: .5px solid var(--cl-gray-600);
  --bb-main__query: .5px solid var(--cl-gray-600);
  --bl-main__query: .5px solid var(--cl-gray-600);
  --bc-main__query-title: transparent;
  --bb-main__query-title: .5px solid var(--cl-gray-600);
  --co-main__query-title: var(--cl-gray-100);
  --co-main__query-error: var(--cl-red-500);
  --bc-main__ref-count--active: var(--cl-gray-750);
  --co-main__ref-count--active: var(--cl-gray-100);
  --co-main__reference-keyprompt: var(--cl-gray-500);
  --fs-main__reference-keyprompt: 0.8rem;
  --op-main__reference-keyprompt: 1;
  --bt-main__roam-table: 1px solid var(--cl-gray-700);
  --br-main__roam-table: 1px solid var(--cl-gray-700);
  --bb-main__roam-table: 1px solid var(--cl-gray-700);
  --bl-main__roam-table: 1px solid var(--cl-gray-700);
  --bc-main__streak-day-0: var(--cl-gray-900);
  --bc-main__streak-day-1: var(--cl-blue-900);
  --bc-main__streak-day-2: var(--cl-blue-800);
  --bc-main__streak-day-3: var(--cl-blue-700);
  --bc-main__streak-day-4: var(--cl-blue-600);
  --bc-main__streak-error: var(--cl-red-500);
  --co-main__streak-weekday: var(--cl-gray-500);
  --co-main__streak-month: var(--cl-gray-500);
  --bb-main__tab-list: transparent;
  --co-main__tag: var(--cl-gray-500);
  --fs-main__title: 2.25rem;
  --fw-main__title: 600;
  --co-main__title: var(--cl-gray-100);
  --bb-main__version-choice: 1px solid var(--cl-gray-900);
  --bb-main__version-bullet--selected: transparent;
  --sd-main__version-bullet--selected: inset 0 -3px 0 #48aff0;
  --bc-main__version-bullet: var(--cl-blue-500);
  --bt-main__version-bullet: transparent;
  --br-main__version-bullet: transparent;
  --bb-main__version-bullet: transparent;
  --bl-main__version-bullet: transparent;
  --op-main__video-comment: 0;
  --co-main__zoom-item: var(--cl-gray-450);
  --bc-main__zoom-mask: transparent;
  --fs-main__zoom-path: 1rem;
  --bc-main: var(--cl-gray-800);
  --ff-main: Inter, sans-serif;
  --fs-main: 1rem;
  --bc-menu__button--active: var(--cl-gray-850);
  --bi-menu__button--active: transparent;
  --sd-menu__button--active: 0 0 0 1px rgba(16,22,26,.6),inset 0 1px 2px rgba(16,22,26,.2);
  --bc-menu__button--hover: var(--cl-gray-750);
  --bi-menu__button--hover: linear-gradient(180deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
  --sd-menu__button--hover: 0 0 0 1px rgba(16,22,26,.4);
  --co-menu__button--hover: var(--cl-gray-100);
  --bc-menu__button: var(--cl-gray-700);
  --bi-menu__button: linear-gradient(180deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
  --bt-menu__button: transparent;
  --br-menu__button: transparent;
  --bb-menu__button: transparent;
  --bl-menu__button: transparent;
  --bd-menu__button: 3px;
  --sd-menu__button: 0 0 0 1px rgba(16,22,26,.4);
  --co-menu__button: var(--cl-gray-100);
  --co-menu__button-icon: var(--cl-gray-450);
  --co-reference__filter-icon--active: var(--cl-blue-500);
  --bc-reference__item: var(--cl-gray-750);
  --co-reference__linked-unlinked-title: var(--cl-gray-500);
  --fw-reference__linked-unlinked-title: 500;
  --bc-reference__nested-refs: transparent;
  --bd-reference__nested-refs: 5px;
  --sd-reference__nested-refs: inset 0px 0px 0px 2px var(--cl-gold-500);
  --td-reference__page-view-title--hover: none;
  --fw-reference__page-view-title: 500;
  --bc-reference__search-input--focus: rgba(16,22,26,.3);
  --bc-reference__search-input: transparent;
  --co-right-sidebar__helper-text: var(--cl-gray-500);
  --fs-right-sidebar__title: 1rem;
  --fw-right-sidebar__title: 600;
  --bb-right-sidebar__window: 1px solid var(--cl-gray-700);
  --bc-right-sidebar: var(--cl-gray-750);
  --bl-right-sidebar: transparent;
  --sd-right-sidebar: -1px 0 0 rgba(16,22,26,.4);
  --ff-right-sidebar: Inter, sans-serif;
  --co-roam__datepicker-day-nopage: var(--cl-white);
  --co-roam__datepicker-today: var(--cl-white);
  --co-roam__datepicker-today-selected: var(--cl-white);
  --bc-roam__install-button--hover: rgba(19,124,189,.2);
  --co-roam__install-button--hover: var(--cl-blue-500);
  --bc-roam__install-button: transparent;
  --bt-roam__install-button: 1px solid rgba(72,175,240,.6);
  --br-roam__install-button: 1px solid rgba(72,175,240,.6);
  --bb-roam__install-button: 1px solid rgba(72,175,240,.6);
  --bl-roam__install-button: 1px solid rgba(72,175,240,.6);
  --co-roam__install-button: var(--cl-blue-500);
  --bc-roam__modal-dialog: var(--cl-gray-800);
  --bc-roam-css-code__active: rgba(217,130,43,.25);
  --co-roam-css-code__active: var(--cl-white);
  --bc-roam-css-code__active-button--hover: var(--cl-orange-800);
  --sd-roam-css-code__active-button--hover: inset 0 0 0 1px rgba(16,22,26,0.4),inset 0 -1px 0 rgba(16,22,26,0.2);
  --co-roam-css-code__active-button--hover: var(--cl-white);
  --bc-roam-css-code__active-button: var(--cl-orange-700);
  --bi-roam-css-code__active-button: linear-gradient(to bottom,rgba(255,255,255,0.1),rgba(255,255,255,0));
  --sd-roam-css-code__active-button: inset 0 0 0 1px rgba(16,22,26,0.4),inset 0 -1px 0 rgba(16,22,26,0.2);
  --co-roam-css-code__active-button: var(--cl-white);
  --co-roam-css-code__active-description: var(--cl-orange-500);
  --fs-roam-css-code__active-description: 1rem;
  --fw-roam-css-code__active-description: 700;
  --bc-roam-css-code__inactive: rgba(219,55,55,.25);
  --co-roam-css-code__inactive: var(--cl-white);
  --bc-roam-css-code__inactive-button--hover: var(--cl-red-800);
  --sd-roam-css-code__inactive-button--hover: inset 0 0 0 1px rgba(16,22,26,0.4),inset 0 -1px 0 rgba(16,22,26,0.2);
  --co-roam-css-code__inactive-button--hover: var(--cl-white);
  --bc-roam-css-code__inactive-button: var(--cl-red-700);
  --bi-roam-css-code__inactive-button: linear-gradient(to bottom,rgba(255,255,255,0.1),rgba(255,255,255,0));
  --sd-roam-css-code__inactive-button: inset 0 0 0 1px rgba(16,22,26,0.4),inset 0 -1px 0 rgba(16,22,26,0.2);
  --co-roam-css-code__inactive-button: var(--cl-white);
  --co-roam-css-code__inactive-description: var(--cl-red-500);
  --fs-roam-css-code__inactive-description: 1rem;
  --fw-roam-css-code__inactive-description: 700;
  --bb-settings__api-token: 1px solid rgba(16,22,26,0.4);
  --co-settings__description: var(--cl-gray-300);
  --co-settings__extension-heading: inherit;
  --fs-settings__extension-heading: 0.9rem;
  --fw-settings__extension-heading: 700;
  --tt-settings__extension-heading: none;
  --bc-settings__extension-settings: transparent;
  --co-settings__extension-settings: var(--cl-gray-100);
  --co-settings__file-list-item--hover: var(--cl-blue-500);
  --td-settings__file-list-item--hover: underline;
  --co-settings__file-list-item: var(--cl-blue-500);
  --td-settings__file-list-item: none;
  --co-settings__heading: var(--cl-gray-100);
  --fs-settings__heading: 16px;
  --fw-settings__heading: 600;
  --tt-settings__heading: none;
  --bc-settings__hotkeys: var(--cl-gray-400);
  --bt-settings__hotkeys-hr: 1px solid rgba(16,22,26,0.4);
  --bt-settings__hotkeys-section-hr: 2px solid rgba(16,22,26,0.4);
  --bc-settings__input--focus: rgba(16,22,26,.3);
  --sd-settings__input--focus: 0 0 0 1px #137cbd,0 0 0 1px #137cbd,0 0 0 3px rgba(19,124,189,0.3),inset 0 0 0 1px rgba(16,22,26,0.3),inset 0 1px 1px rgba(16,22,26,0.4);
  --bc-settings__input: rgba(16,22,26,.3);
  --bt-settings__input: transparent;
  --br-settings__input: transparent;
  --bb-settings__input: transparent;
  --bl-settings__input: transparent;
  --bd-settings__input: 3px;
  --sd-settings__input: 0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),inset 0 0 0 1px rgba(16,22,26,.3),inset 0 1px 1px rgba(16,22,26,.4);
  --co-settings__input: var(--cl-gray-100);
  --fs-settings__input: 1rem;
  --fw-settings__input: 400;
  --co-settings__input-placeholder: rgba(167,182,194,.6);
  --bc-settings__panel-scrollbar-thumb: var(--cl-gray-500);
  --bc-settings__panel-scrollbar-track: var(--cl-gray-750);
  --bt-settings__panel-section: 1px solid rgba(16,22,26,0.4);
  --bt-settings__panel-section-top: transparent;
  --bc-settings__select-wrapper: transparent;
  --bt-settings__select-wrapper: transparent;
  --br-settings__select-wrapper: transparent;
  --bb-settings__select-wrapper: transparent;
  --bl-settings__select-wrapper: transparent;
  --bd-settings__select-wrapper: 0;
  --bc-settings__select-wrapper-button--hover: var(--cl-gray-700);
  --sd-settings__select-wrapper-button--hover: 0 0 0 1px rgba(16,22,26,.4);
  --co-settings__select-wrapper-button--hover: #f5f8fa;
  --bc-settings__select-wrapper-button: var(--cl-gray-700);
  --bi-settings__select-wrapper-button: linear-gradient(180deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
  --sd-settings__select-wrapper-button: 0 0 0 1px rgba(16,22,26,.4);
  --co-settings__select-wrapper-button: var(--cl-gray-100);
  --bt-settings__settings-table: 1px solid rgba(16,22,26,0.4);
  --br-settings__settings-table: 1px solid rgba(16,22,26,0.4);
  --bb-settings__settings-table: 1px solid rgba(16,22,26,0.4);
  --bl-settings__settings-table: 1px solid rgba(16,22,26,0.4);
  --bc-settings__settings-wrapper: var(--cl-gray-750);
  --bc-settings__tab--hover: unset;
  --bc-settings__tab--selected: unset;
  --bd-settings__tab--selected: 3px;
  --co-settings__tab: unset;
  --bc-settings__tab-list: unset;
  --bc-settings__tab-list-scrollbar-thumb: var(--cl-gray-500);
  --bc-settings__tab-list-scrollbar-track: var(--cl-gray-800);
  --bc-settings__tabs: var(--cl-gray-800);
  --bc-settings: var(--cl-gray-750);
  --co-settings: var(--cl-gray-100);
  --bc-topbar__sync-saving-local: var(--cl-red-800);
  --bc-topbar__sync-saving-remote: var(--cl-orange-700);
  --bc-topbar__sync-synced: var(--cl-green-700);
  --bb-topbar: transparent;
  --co-zoom-path__item: var(--cl-gray-450);
  --fs-zoom__mentions-view: 13px;
  --fw-zoom__mentions-view: 500;
}