:root {
  /* blueprint.js 3.54.0 colors */
  --cl-black: #10161A;
  --cl-white: #ffffff;
  --cl-gray-100: #f5f8fa;
  --cl-gray-150: #ebf1f5;
  --cl-gray-200: #E1E8ED;
  --cl-gray-250: #D8E1E8;
  --cl-gray-300: #CED9E0;
  --cl-gray-400: #BFCCD6;
  --cl-gray-450: #A7B6C2;
  --cl-gray-500: #8A9BA8;
  --cl-gray-600: #5C7080;
  --cl-gray-700: #394B59;
  --cl-gray-750: #30404D;
  --cl-gray-800: #293742;
  --cl-gray-850: #202B33;
  --cl-gray-900: #182026;
  --cl-blue-100: #f0f8fc;
  --cl-blue-200: #c5e2f4;
  --cl-blue-300: #9acdec;
  --cl-blue-400: #70b7e4;
  --cl-blue-500: #47aff0;
  --cl-blue-600: #2994d6;
  --cl-blue-700: #137dbe;
  --cl-blue-800: #106aa2;
  --cl-blue-900: #0e5b8b;
  --cl-green-100: #ecfaf4;
  --cl-green-200: #cff2e3;
  --cl-green-300: #9fe6c8;
  --cl-green-400: #6ed9ac;
  --cl-green-500: #3ecc90;
  --cl-green-600: #15b271;
  --cl-green-700: #0f9960;
  --cl-green-800: #0d8251;
  --cl-green-900: #0a6640;
  --cl-orange-100: #fff8f1;
  --cl-orange-200: #ffeddb;
  --cl-orange-300: #ffdcb8;
  --cl-orange-400: #ffca94;
  --cl-orange-500: #ffb870;
  --cl-orange-600: #f29e4a;
  --cl-orange-700: #da822b;
  --cl-orange-800: #c07326;
  --cl-orange-900: #a66321;
  --cl-red-100: #fff1f1;
  --cl-red-200: #ffdcdc;
  --cl-red-300: #ffb9b9;
  --cl-red-400: #ff9696;
  --cl-red-500: #FF7373;
  --cl-red-600: #F55656;
  --cl-red-700: #DB3737;
  --cl-red-800: #C23030;
  --cl-red-900: #A82A2A;
  --cl-vermilion-100: #fff1ed;
  --cl-vermilion-200: #ffdbd2;
  --cl-vermilion-300: #ffb7a5;
  --cl-vermilion-400: #ff9277;
  --cl-vermilion-500: #FF6E4A;
  --cl-vermilion-600: #EB532D;
  --cl-vermilion-700: #D13913;
  --cl-vermilion-800: #B83211;
  --cl-vermilion-900: #9E2B0E;
  --cl-rose-100: #fff0f6;
  --cl-rose-200: #ffd9e8;
  --cl-rose-300: #ffb3d0;
  --cl-rose-400: #ff8cb9;
  --cl-rose-500: #FF66A1;
  --cl-rose-600: #F5498B;
  --cl-rose-700: #DB2C6F;
  --cl-rose-800: #C22762;
  --cl-rose-900: #A82255;
  --cl-violet-100: #f9f1f9;
  --cl-violet-200: #f0dcf0;
  --cl-violet-300: #e1bae1;
  --cl-violet-400: #d197d1;
  --cl-violet-500: #C274C2;
  --cl-violet-600: #A854A8;
  --cl-violet-700: #8F398F;
  --cl-violet-800: #752F75;
  --cl-violet-900: #5C255C;
  --cl-indigo-100: #f7f5ff;
  --cl-indigo-200: #ebe6ff;
  --cl-indigo-300: #d6ccff;
  --cl-indigo-400: #c2b3ff;
  --cl-indigo-500: #AD99FF;
  --cl-indigo-600: #9179F2;
  --cl-indigo-700: #7157D9;
  --cl-indigo-800: #634DBF;
  --cl-indigo-900: #5642A6;
  --cl-cobalt-100: #f0f5ff;
  --cl-cobalt-200: #d9e7ff;
  --cl-cobalt-300: #b3cfff;
  --cl-cobalt-400: #8cb6ff;
  --cl-cobalt-500: #669EFF;
  --cl-cobalt-600: #4580E6;
  --cl-cobalt-700: #2965CC;
  --cl-cobalt-800: #2458B3;
  --cl-cobalt-900: #1F4B99;
  --cl-turquoise-100: #eafdfb;
  --cl-turquoise-200: #cbf9f5;
  --cl-turquoise-300: #97f3eb;
  --cl-turquoise-400: #62ece0;
  --cl-turquoise-500: #2EE6D6;
  --cl-turquoise-600: #14CCBD;
  --cl-turquoise-700: #00B3A4;
  --cl-turquoise-800: #00998C;
  --cl-turquoise-900: #008075;
  --cl-forest-100: #effbf0;
  --cl-forest-200: #d8f6da;
  --cl-forest-300: #b1ecb5;
  --cl-forest-400: #89e390;
  --cl-forest-500: #62D96B;
  --cl-forest-600: #43BF4D;
  --cl-forest-700: #29A634;
  --cl-forest-800: #238C2C;
  --cl-forest-900: #1D7324;
  --cl-lime-100: #fafef0;
  --cl-lime-200: #f4fcdb;
  --cl-lime-300: #e8f9b6;
  --cl-lime-400: #ddf592;
  --cl-lime-500: #D1F26D;
  --cl-lime-600: #B6D94C;
  --cl-lime-700: #9BBF30;
  --cl-lime-800: #87A629;
  --cl-lime-900: #728C23;
  --cl-gold-100: #fffaec;
  --cl-gold-200: #fff2cf;
  --cl-gold-300: #ffe4a0;
  --cl-gold-400: #ffd770;
  --cl-gold-500: #FFC940;
  --cl-gold-600: #F2B824;
  --cl-gold-700: #D99E0B;
  --cl-gold-800: #BF8C0A;
  --cl-gold-900: #A67908;
  --cl-sepia-100: #faf5f0;
  --cl-sepia-200: #f2e5d9;
  --cl-sepia-300: #e4cbb2;
  --cl-sepia-400: #d7b18c;
  --cl-sepia-500: #C99765;
  --cl-sepia-600: #B07B46;
  --cl-sepia-700: #96622D;
  --cl-sepia-800: #7D5125;
  --cl-sepia-900: #63411E;
}