:root {
  /* blueprint.js 3.54.0 colors */
  --cl-black: #10161A;
  --cl-white: #ffffff;
  --cl-gray-100: #f5f8fa;
  --cl-gray-150: #ebf1f5;
  --cl-gray-200: #E1E8ED;
  --cl-gray-250: #D8E1E8;
  --cl-gray-300: #CED9E0;
  --cl-gray-400: #BFCCD6;
  --cl-gray-450: #A7B6C2;
  --cl-gray-500: #8A9BA8;
  --cl-gray-600: #5C7080;
  --cl-gray-700: #394B59;
  --cl-gray-750: #30404D;
  --cl-gray-800: #293742;
  --cl-gray-850: #202B33;
  --cl-gray-900: #182026;
  --cl-blue-100: rgb(240.02, 247.51, 252.13);
  --cl-blue-200: rgb(197.22, 226.11, 243.93);
  --cl-blue-300: rgb(154.42, 204.71, 235.73);
  --cl-blue-400: rgb(111.62, 183.31, 227.53);
  --cl-blue-500: #47aff0;
  --cl-blue-600: #2994d6;
  --cl-blue-700: #137dbe;
  --cl-blue-800: #106aa2;
  --cl-blue-900: #0e5b8b;
  --cl-green-100: rgb(235.7, 249.9, 243.9);
  --cl-green-200: rgb(206.75, 242.25, 227.25);
  --cl-green-300: rgb(158.5, 229.5, 199.5);
  --cl-green-400: rgb(110.25, 216.75, 171.75);
  --cl-green-500: #3ecc90;
  --cl-green-600: #15b271;
  --cl-green-700: #0f9960;
  --cl-green-800: #0d8251;
  --cl-green-900: #0a6640;
  --cl-orange-100: rgb(255, 247.9, 240.7);
  --cl-orange-200: rgb(255, 237.25, 219.25);
  --cl-orange-300: rgb(255, 219.5, 183.5);
  --cl-orange-400: rgb(255, 201.75, 147.75);
  --cl-orange-500: #ffb870;
  --cl-orange-600: #f29e4a;
  --cl-orange-700: #da822b;
  --cl-orange-800: #c07326;
  --cl-orange-900: #a66321;
  --cl-red-100: #fff1f1;
  --cl-red-200: #ffdcdc;
  --cl-red-300: #ffb9b9;
  --cl-red-400: #ff9696;
  --cl-red-500: #FF7373;
  --cl-red-600: #F55656;
  --cl-red-700: #DB3737;
  --cl-red-800: #C23030;
  --cl-red-900: #A82A2A;
  --cl-vermilion-100: rgb(255, 240.5, 236.9);
  --cl-vermilion-200: rgb(255, 218.75, 209.75);
  --cl-vermilion-300: rgb(255, 182.5, 164.5);
  --cl-vermilion-400: rgb(255, 146.25, 119.25);
  --cl-vermilion-500: #FF6E4A;
  --cl-vermilion-600: #EB532D;
  --cl-vermilion-700: #D13913;
  --cl-vermilion-800: #B83211;
  --cl-vermilion-900: #9E2B0E;
  --cl-rose-100: rgb(255, 239.7, 245.6);
  --cl-rose-200: rgb(255, 216.75, 231.5);
  --cl-rose-300: rgb(255, 178.5, 208);
  --cl-rose-400: rgb(255, 140.25, 184.5);
  --cl-rose-500: #FF66A1;
  --cl-rose-600: #F5498B;
  --cl-rose-700: #DB2C6F;
  --cl-rose-800: #C22762;
  --cl-rose-900: #A82255;
  --cl-violet-100: rgb(248.9, 241.1, 248.9);
  --cl-violet-200: rgb(239.75, 220.25, 239.75);
  --cl-violet-300: rgb(224.5, 185.5, 224.5);
  --cl-violet-400: rgb(209.25, 150.75, 209.25);
  --cl-violet-500: #C274C2;
  --cl-violet-600: #A854A8;
  --cl-violet-700: #8F398F;
  --cl-violet-800: #752F75;
  --cl-violet-900: #5C255C;
  --cl-indigo-100: rgb(246.8, 244.8, 255);
  --cl-indigo-200: rgb(234.5, 229.5, 255);
  --cl-indigo-300: #d6ccff;
  --cl-indigo-400: rgb(193.5, 178.5, 255);
  --cl-indigo-500: #AD99FF;
  --cl-indigo-600: #9179F2;
  --cl-indigo-700: #7157D9;
  --cl-indigo-800: #634DBF;
  --cl-indigo-900: #5642A6;
  --cl-cobalt-100: rgb(239.7, 245.3, 255);
  --cl-cobalt-200: rgb(216.75, 230.75, 255);
  --cl-cobalt-300: rgb(178.5, 206.5, 255);
  --cl-cobalt-400: rgb(140.25, 182.25, 255);
  --cl-cobalt-500: #669EFF;
  --cl-cobalt-600: #4580E6;
  --cl-cobalt-700: #2965CC;
  --cl-cobalt-800: #2458B3;
  --cl-cobalt-900: #1F4B99;
  --cl-turquoise-100: rgb(234.1, 252.5, 250.9);
  --cl-turquoise-200: rgb(202.75, 248.75, 244.75);
  --cl-turquoise-300: rgb(150.5, 242.5, 234.5);
  --cl-turquoise-400: rgb(98.25, 236.25, 224.25);
  --cl-turquoise-500: #2EE6D6;
  --cl-turquoise-600: #14CCBD;
  --cl-turquoise-700: #00B3A4;
  --cl-turquoise-800: #00998C;
  --cl-turquoise-900: #008075;
  --cl-forest-100: rgb(239.3, 251.2, 240.2);
  --cl-forest-200: rgb(215.75, 245.5, 218);
  --cl-forest-300: rgb(176.5, 236, 181);
  --cl-forest-400: rgb(137.25, 226.5, 144);
  --cl-forest-500: #62D96B;
  --cl-forest-600: #43BF4D;
  --cl-forest-700: #29A634;
  --cl-forest-800: #238C2C;
  --cl-forest-900: #1D7324;
  --cl-lime-100: rgb(250.4, 253.7, 240.4);
  --cl-lime-200: rgb(243.5, 251.75, 218.5);
  --cl-lime-300: rgb(232, 248.5, 182);
  --cl-lime-400: rgb(220.5, 245.25, 145.5);
  --cl-lime-500: #D1F26D;
  --cl-lime-600: #B6D94C;
  --cl-lime-700: #9BBF30;
  --cl-lime-800: #87A629;
  --cl-lime-900: #728C23;
  --cl-gold-100: rgb(255, 249.6, 235.9);
  --cl-gold-200: rgb(255, 241.5, 207.25);
  --cl-gold-300: rgb(255, 228, 159.5);
  --cl-gold-400: rgb(255, 214.5, 111.75);
  --cl-gold-500: #FFC940;
  --cl-gold-600: #F2B824;
  --cl-gold-700: #D99E0B;
  --cl-gold-800: #BF8C0A;
  --cl-gold-900: #A67908;
  --cl-sepia-100: rgb(249.6, 244.6, 239.6);
  --cl-sepia-200: rgb(241.5, 229, 216.5);
  --cl-sepia-300: #e4cbb2;
  --cl-sepia-400: rgb(214.5, 177, 139.5);
  --cl-sepia-500: #C99765;
  --cl-sepia-600: #B07B46;
  --cl-sepia-700: #96622D;
  --cl-sepia-800: #7D5125;
  --cl-sepia-900: #63411E;
}